field_mapping findjob = {
 __pk__             = lineadno
 lineadno			= LINEADNO       
 lineadid           = LINEADID       
 input_branch       = INPUT_BRANCH   
 layout_branch      = LAYOUT_BRANCH  
 area_a             = AREA_A         
 area_b             = AREA_B         
 area_c             = AREA_C         
 company_nm         = COMPANY_NM     
 title              = TITLE 
 contents           = SampleGroovy.removeTags(@CONTENTS@)
 commdt_display     = COMMDT_DISPLAY 
 enddt_display      = ENDDT_DISPLAY  
 version            = VERSION        
 pre_image          = PRE_IMAGE      
 recruit_end_dt     = RECRUIT_END_DT 
 user_id            = USER_ID
 cuid               = CUID
 upright_agree      = UPRIGHT_AGREE
 pay_company_rules  = PAY_COMPANY_RULES
 ad_kind			= AD_KIND
 opt_code           = OPT_CODE       
 mobile_opt_code    = MOBILE_OPT_CODE
 display_opt        = DISPLAY_OPT    
 paper_opt          = PAPER_OPT      
 icon_opt           = ICON_OPT       
 accent_opt         = ACCENT_OPT
 color_opt          = COLOR_OPT
 bg_opt             = BG_OPT
 prefclose          = PREFCLOSE
 opt_start_dt       = OPT_START_DT   
 opt_end_dt         = OPT_END_DT
 arr_findcode_nm	= ARR_FINDCODE_NM
 arr_findcode1      = ARR_FINDCODE1
 arr_findcode2      = ARR_FINDCODE2
 arr_findcode3      = ARR_FINDCODE3
 arr_area           = ARR_AREA       
 arr_areacode1      = ARR_AREACODE1 
 arr_areacode2      = ARR_AREACODE2
 arr_areacode3      = ARR_AREACODE3
 day_week_mb        = DAY_WEEK_MB    
 day_week           = DAY_WEEK       
 worktimefrom       = WORKTIMEFROM   
 worktimeto         = WORKTIMETO     
 worktime_term      = WORKTIME_TERM  
 worktime_termf     = WORKTIME_TERMF 
 worktimef          = WORKTIMEF      
 agefrom            = AGEFROM        
 ageto              = AGETO  
 age_value			= AGE_VALUE
 agef               = AGEF           
 sexf               = SEXF           
 regdtf             = REGDTF         
 work_main          = WORK_MAIN      
 work_sub           = WORK_SUB       
 work_out           = WORK_OUT       
 parttimef          = PARTTIMEF      
 work_appoint       = WORK_APPOINT   
 work_freelancer    = WORK_FREELANCER
 payf               = PAYF           
 payfrom            = PAYFROM        
 payto              = PAYTO
 payamount			= PAYAMOUNT
 pay_possible       = PAY_POSSIBLE   
 paytype            = PAYTYPE  
 service_period 	= SERVICE_PERIOD
 gmap_x             = GMAP_X
 gmap_y             = GMAP_Y
 order_dt           = ORDER_DT
 sort_id            = SORT_ID 
 reg_dt				= REG_DT
 start_dt			= START_DT
 end_dt				= END_DT
 m_order_dt         = M_ORDER_DT
 g_area_1			= G_AREA_1
 g_area_2			= G_AREA_2
 m_day_week			= M_DAY_WEEK	
 m_time_long        = M_TIME_LONG
 m_time_short       = M_TIME_SHORT
 rep_a_gmap_x       = REP_A_GMAP_X
 rep_a_gmap_y       = REP_A_GMAP_Y
 rep_b_gmap_x       = REP_B_GMAP_X
 rep_b_gmap_y       = REP_B_GMAP_Y
 rep_c_gmap_x       = REP_C_GMAP_X
 rep_c_gmap_y       = REP_C_GMAP_Y
 c_gmap_x			= c_gmap_x
 c_gmap_y			= c_gmap_y
 ex_image			= ex_image
 area_dong			=	AREA_DONG
 sort_recruit_end_dt			= SORT_RECRUIT_END_DT
 worktimedisplay	 = worktimedisplay
 ex_contents		=	SampleGroovy.removeTags(@EX_CONTENTS@)
 phone				=	PHONE
 regularempf	=	REGULAREMPF
 pay_company_rules_etc	=	PAY_COMPANY_RULES_ETC   
 detailadcode	=	DETAILADCODE            
 order_name	=	ORDER_NAME              
 codenm2	=	CodeNm2                 
 codenm3	=	CodeNm3                 
 codenm4	=	CodeNm4                 
 group_cd	=	GROUP_CD                
 field_2	=	FIELD_2                 
 field_6	=	FIELD_6
 search_fields	=	SEARCH_FIELDS 
 agesub_middle		= AGESUB_MIDDLE
 agesub_jubu		= AGESUB_JUBU
 agesub_minority	= AGESUB_MINORITY
 ad_type			= AD_TYPE
 day_week_option2 = DAY_WEEK_OPTION2
 area_count       = AREA_COUNT
}

field_mapping area = {
	__pk__				=		idx
	idx					=		IDX
	metro				=		METRO
	city				=		CITY
	dong_detail			=		DONG_DETAIL
	area_full_search	=		SampleGroovy.replaceTag(@AREA_FULL_SEARCH@)
	area_full_text		=		SampleGroovy.replaceTag(@AREA_FULL_TEXT@)
	area_a_code			=		AREA_A_CODE
	area_b_code			=		AREA_B_CODE
	area_c_code			=		AREA_C_CODE
	area_code			=		AREA_CODE
	dic_area_field		=		SampleGroovy.akcDicMake(@area_full_search@,@area_code@)
}

field_mapping jobname = {
	__pk__				=		idx
	idx					=		IDX
	findcode2			=		findcode2
	findcode3			=		findcode3
	findcode4			=		findcode4
	findcodenm2			=		findcodenm2
	findcodenm3			=		findcodenm3
	findcodenm4			=		findcodenm4
	findcode			=		findcode
	findcodenm_full		=		SampleGroovy.replaceTag(@findcodenm_full@)
	full_nm				=		SampleGroovy.replaceTag(@full_nm@)
	dic_jobname_field	=		SampleGroovy.akcDicMake(@findcodenm_full@,@findcode@)
}

field_mapping resume = {
	__pk__			=	resume_id
	resume_id		=	RESUME_ID
	photo_url		=	PHOTO_URL
	user_nm			=	USER_NM
	sex				=	SEX
	age				=	AGE
	title			=	TITLE
	area			=	AREA
	area_code		=	AREA_CODE
	jicjong			=	JICJONG
	jicjong_code	=	JICJONG_CODE
	career_div		=	CAREER_DIV
	career_year		=	CAREER_YEAR
	career_text		=	CAREER_TEXT
	age_group		=	AGE_GROUP
	introduction	=	INTRODUCTION
	reg_dt			=	REG_DT
	mod_dt			=	MOD_DT
}

field_mapping jobguide = {
	__pk__		=	idx_gcode
	idx_gcode	=	IDX_GCODE
	idx			=	IDX
	gcode		=	GCODE
	codename	=	CODENAME
	title		=	TITLE
	content		=	SampleGroovy.removeTags(@CONTENT@)
	field1		=	SampleGroovy.removeTags(@FIELD1@)
	field2		=	SampleGroovy.removeTags(@FIELD2@)
	field3		=	SampleGroovy.removeTags(@FIELD3@)
	field4		=	SampleGroovy.removeTags(@FIELD4@)
	hit			=	HIT
	reg_date	=	REG_DATE
	startdate	=	STARTDATE
	enddate		=	ENDDATE
	startdate2	=	STARTDATE2
	enddate2	=	ENDDATE2
	area_a		=	AREA_A
	area_b		=	AREA_B
	area_c		=	AREA_C
	source		=	SOURCE
	img_path	=	IMG_PATH
	arr_areacode	 = ARR_AREACODE
	arr_area		 = ARR_AREA
	arr_findcode	 = ARR_FINDCODE
	arr_findcode_nm	 = ARR_FINDCODE_NM
	years			 = YEARS
}

field_mapping suggest = {
	__pk__			=	idx
	idx				=	IDX
	org_word		=	ORG_WORD
	suggest_word	=	SUGGEST_WORD
	gbn				=	GBN
	code			=	CODE
	code_name		=	CODE_NAME
	remark			=	REMARK
	mod_dt			=	MOD_DT
	reg_dt			=	REG_DT
}

field_mapping paid_products = {
	__pk__		=	pk_value
	pk_value	= PK_VALUE
	position_code	=	POSITION_CODE
	lineadno	=	LINEADNO
	lineadid	=	LINEADID
	input_branch	=	INPUT_BRANCH
	layout_branch	=	LAYOUT_BRANCH
	ad_kind	=	AD_KIND
	title	=	TITLE
	contents	=	CONTENTS
	area_a	=	AREA_A
	area_b	=	AREA_B
	area_c	=	AREA_C
	area_dong	=	AREA_DONG
	field_6	=	FIELD_6
	reg_dt	=	REG_DT
	payf	=	PAYF
	payfrom	=	PAYFROM
	payto	=	PAYTO
	start_dt	=	START_DT
	findcode	=	FINDCODE
	pub_logo	=	PUB_LOGO
	pub_confirm	=	PUB_CONFIRM
	br_seq	=	BR_SEQ
	subdomain	=	SUBDOMAIN
	company_name	=	COMPANY_NAME
	br_title	=	BR_TITLE
	br_area	=	BR_AREA
	payamout	=	PAYAMOUT
	pay_type	=	PAY_TYPE
	logo_image	=	LOGO_IMAGE
	display_opt	=	DISPLAY_OPT
	recruit_end_dt	=	RECRUIT_END_DT
	impact_logo	=	IMPACT_LOGO
	icon_opt	=	ICON_OPT
	user_id	=	USER_ID
	brand_name	=	BRAND_NAME
	w_main_bg_color	=	W_MAIN_BG_COLOR
	w_main_mouseover_img	=	W_MAIN_MOUSEOVER_IMG
	theme_img	=	THEME_IMG
	cuid	=	CUID
	version	=	VERSION
	mod_dt	=	MOD_DT
	gmap_x	=	GMAP_X
	gmap_y	=	GMAP_Y
	pay_possible	=	PAY_POSSIBLE
	pay_company_rules	=	PAY_COMPANY_RULES
	worktimef	=	WORKTIMEF
	worktimefrom	=	WORKTIMEFROM
	worktimeto	=	WORKTIMETO
	regularempf	=	REGULAREMPF
	upright_agree	=	UPRIGHT_AGREE
	agef	=	AGEF
	agefrom	=	AGEFROM
	ageto	=	AGETO
	opt_code	=	OPT_CODE
	mobile_opt_code	=	MOBILE_OPT_CODE
	paper_opt	=	PAPER_OPT
	group_cd	=	GROUP_CD
	display_order	=	DISPLAY_ORDER
	day_week	=	DAY_WEEK
	service_period	=	SERVICE_PERIOD
	opt_start_dt	=	OPT_START_DT
	opt_end_dt	=	OPT_END_DT
	sexf	=	SEXF
	arr_findcode_nm	=	ARR_FINDCODE_NM
	arr_findcode	=	ARR_FINDCODE
	arr_area	=	ARR_AREA
	arr_areacode	=	ARR_AREACODE
	day_week_mb	=	DAY_WEEK_MB
	worktime_termf	=	WORKTIME_TERMF
	worktime_term	=	WORKTIME_TERM
	time_long	=	TIME_LONG
	time_short	=	TIME_SHORT
	area_count	=	AREA_COUNT
	week_option2 = WEEK_OPTION2
}