USE [HOMEPY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_EDU_OBJECT_TYPE_NAME]    Script Date: 2021-11-04 오전 10:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_GET_EDU_OBJECT_TYPE_NAME](@TYPE CHAR(1) )
RETURNS VARCHAR(50)
AS
BEGIN

DECLARE @EDU_OBJECT_TYPE_NM   VARCHAR(50)

IF @TYPE='A'
  SET @EDU_OBJECT_TYPE_NM='실업자를 위한 교육'
ELSE IF @TYPE='B'
  SET @EDU_OBJECT_TYPE_NM='근로자를 위한 교육'
ELSE IF @TYPE='C'
  SET @EDU_OBJECT_TYPE_NM='능력개발 카드제 과정'
ELSE IF @TYPE='D'
  SET @EDU_OBJECT_TYPE_NM='사업주 지원 과정'
ELSE IF @TYPE='E'
  SET @EDU_OBJECT_TYPE_NM='재외동포 지원 과정'
ELSE IF @TYPE='F'
  SET @EDU_OBJECT_TYPE_NM='일반인을 위한 교육'
ELSE
  SET @EDU_OBJECT_TYPE_NM=''

RETURN @EDU_OBJECT_TYPE_NM

END
















GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_PAY_TYPE_NAME]    Script Date: 2021-11-04 오전 10:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_GET_PAY_TYPE_NAME](@TYPE CHAR(1) )
RETURNS VARCHAR(50)
AS
BEGIN

DECLARE @PAY_TYPE_NM   VARCHAR(50)

IF @TYPE='F'
  SET @PAY_TYPE_NM='무료'
ELSE IF @TYPE='C'
  SET @PAY_TYPE_NM='유료'

RETURN @PAY_TYPE_NM

END













GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_PRODUCT_NAME]    Script Date: 2021-11-04 오전 10:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_GET_PRODUCT_NAME](@KEY INT )
RETURNS VARCHAR(50)
AS
BEGIN

DECLARE @PRODUCTNM   VARCHAR(50)

IF @KEY=1
  SET @PRODUCTNM='프리미엄'
ELSE IF @KEY=2
  SET @PRODUCTNM='일반'

RETURN @PRODUCTNM

END









GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_REG_TYPE_NAME]    Script Date: 2021-11-04 오전 10:41:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_GET_REG_TYPE_NAME](@TYPE CHAR(1) )
RETURNS VARCHAR(50)
AS
BEGIN

DECLARE @REG_TYPE_NM   VARCHAR(50)

IF @TYPE='M'
  SET @REG_TYPE_NM='등록대행'
ELSE IF @TYPE='F'
  SET @REG_TYPE_NM='직접등록'

RETURN @REG_TYPE_NM

END









GO
