USE [STATS]
GO
/****** Object:  StoredProcedure [dbo].[BAT_DAILY_MEMBER_STAT_PROC]    Script Date: 2021-11-04 오전 11:01:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*************************************************************************************
 *  단위 업무 명 : 일별 회원통계
 *  작   성   자 : 정헌수
 *  작   성   일 : 2018-11-08
 *  수   정   자 : 배진용
 *  수   정   일 : 2020-10-19
 *  설        명 : 회원가입대행 추가 (108)
 *  주 의  사 항 : 
 *  사 용  소 스 : 
 *  예        제 : 
 
 
 SELECT TOP 100 *FROM MWMEMBER.DBO.CC_SECTION_TB


	ALTER TABLE DATA_DASHBOARD_TB 
	ALTER COLUMN GBN VARCHAR(50)


	CREATE TABLE DBO.CC_DASHBOARD_TB (
	CODE INT 
	,CODETXT VARCHAR(100)
	,REF_TABLE VARCHAR(100)
	)


	INSERT CC_DASHBOARD_TB 
	SELECT 101,'채널별 회원가입수','MWMEMBER.DBO.CC_SECTION_TB'
	INSERT CC_DASHBOARD_TB 
	SELECT 102,'연령별 회원가입수','MWMEMBER.DBO.COPY_T_INFO_TB'
	INSERT CC_DASHBOARD_TB 
	SELECT 103,'누적 회원수',''
	INSERT CC_DASHBOARD_TB 
	SELECT 104,'탈퇴 회원수',''
	INSERT CC_DASHBOARD_TB 
	SELECT 105,'마케팅 수신동의',''
	INSERT CC_DASHBOARD_TB 
	SELECT 106,'구인 푸시동의',''
	
	SELECT TOP 100 *FROM  DBO.DATA_DASHBOARD_TB
	
	
 BAT_DAILY_MEMBER_STAT_PROC
 *************************************************************************************/
CREATE  PROCEDURE [dbo].[BAT_DAILY_MEMBER_STAT_PROC]

AS 
SET NOCOUNT ON

BEGIN


/*	
*/

declare @START_DT	VARCHAR(10)=''
,@END_DT	VARCHAR(10)=''

	IF @START_DT ='' 
	BEGIN
		SET @START_DT = CONVERT(VARCHAR(10),GETDATE()- 1,120) 
		SET @END_DT = CONVERT(VARCHAR(10),GETDATE() -1 ,120)
	END 
	ELSE IF @START_DT <> '' AND @END_DT ='' 
		RETURN 

		
	SET @END_DT = CAST(@END_DT AS DATETIME)+ 1
	
	DELETE A
	FROM DBO.DATA_DASHBOARD_TB A
	WHERE	DT >= @START_DT AND DT < @END_DT
		AND CODE  IN(101,102,103,104,105,106,107,108) --2020-12-17 삭제 프로세스 code추가
			
	/*채널별 회원가입수*/
	INSERT DBO.DATA_DASHBOARD_TB
	SELECT 
	 CONVERT(VARCHAR(10),JOIN_DT,120) AS DT ,101 AS CODE ,MEMBER_CD ,ISNULL(B.SECTION_CD ,'기타') AS GBN
	 ,COUNT(*) AS CNT
	FROM MWMEMBER.DBO.CST_MASTER A WITH(NOLOCK)
	LEFT OUTER JOIN MWMEMBER.DBO.CST_JOIN_INFO B WITH(NOLOCK) ON A.CUID = B.CUID 
	WHERE JOIN_DT >= @START_DT AND JOIN_DT < @END_DT AND ISNULL(A.AGENCY_YN,'N') = 'N' -- 2020-12-17 기업회원 회원가입대행 미포함
	GROUP BY CONVERT(VARCHAR(10),JOIN_DT,120) ,MEMBER_CD ,B.SECTION_CD 
	ORDER BY 1 DESC

	
	/*연령별 회원가입수*/
	INSERT DATA_DASHBOARD_TB 
	SELECT CONVERT(VARCHAR(10),@START_DT,120) AS DT,
	102,MEMBER_CD ,ISNULL(C.AGETYPE ,'기타') AS GBN,
	COUNT(*) AS CNT 
	--INTO #TMP
	FROM MWMEMBER.DBO.CST_MASTER A WITH(NOLOCK)
	LEFT OUTER JOIN MWMEMBER.DBO.COPY_T_INFO_TB C ON YEAR(JOIN_DT) - LEFT(BIRTH,4) +1 =C.IDX 
	WHERE JOIN_DT >= @START_DT AND JOIN_DT < @END_DT AND ISNULL(A.AGENCY_YN,'N') = 'N' -- 2020-12-17 기업회원 회원가입대행 미포함
	GROUP BY CONVERT(VARCHAR(10),JOIN_DT,120) 
	,MEMBER_CD , C.AGETYPE


	/*연령별 누적회원수*/
	INSERT DATA_DASHBOARD_TB 
	SELECT CONVERT(VARCHAR(10),@START_DT,120) AS DT,
	103,MEMBER_CD  ,ISNULL(C.AGETYPE,'기타') AS GBN,COUNT(*)

	FROM MWMEMBER.DBO.CST_MASTER A WITH(NOLOCK)
	LEFT OUTER JOIN MWMEMBER.DBO.COPY_T_INFO_TB C ON YEAR(JOIN_DT) - LEFT(BIRTH,4) +1 =C.IDX 
	WHERE REST_YN='N' AND OUT_YN='N' AND JOIN_DT < @END_DT
	GROUP BY MEMBER_CD ,C.AGETYPE


	/*탈퇴 회원수*/
	INSERT DATA_DASHBOARD_TB 
	SELECT 
		CONVERT(VARCHAR(10),OUT_DT,120) AS DT,
		104,MEMBER_CD ,ISNULL(C.AGETYPE ,'기타')AS GBN,
	COUNT(*) AS CNT 
	--INTO #TMP
	FROM MWMEMBER.DBO.CST_MASTER A WITH(NOLOCK)
	--JOIN MWMEMBER.DBO.CST_JOIN_INFO B WITH(NOLOCK) ON A.CUID = B.CUID
	LEFT OUTER JOIN MWMEMBER.DBO.COPY_T_INFO_TB C ON YEAR(GETDATE()) - LEFT(BIRTH,4) +1 =C.IDX 
	WHERE OUT_DT >= @START_DT AND OUT_DT < @END_DT

	GROUP BY CONVERT(VARCHAR(10),OUT_DT ,120) 
	,MEMBER_CD , C.AGETYPE

	INSERT DATA_DASHBOARD_TB 
	SELECT 
		CONVERT(VARCHAR(10),@START_DT,120) AS DT,105 AS CODE,MEMBER_CD
		,ISNULL(C.AGETYPE ,'기타')AS GBN ,COUNT(*)  AS CNT
	FROM MWMEMBER.DBO.CST_MASTER A WITH(NOLOCK)
	LEFT OUTER JOIN MWMEMBER.DBO.COPY_T_INFO_TB C WITH(NOLOCK) ON YEAR(GETDATE()) - LEFT(BIRTH,4) +1 =C.IDX 
	WHERE CUID IN (
	SELECT CUID  from MWMEMBER.DBO.CST_MARKETING_AGREEF_TB WHERE AGREEF = 1
	)
	AND REST_YN='N' AND OUT_YN='N'
	GROUP BY 	MEMBER_CD , C.AGETYPE 


	EXEC FINDDB1.MOBILE_SERVICE.DBO.BAT_MOBILE_PUSH_DEVICE_INFO_BY_MEMBERDB_PROC

	SELECT DISTINCT 
		CUID,DEVICETYPE,PUSH_YN_NOTICE
	INTO #TMP_CUID 
	FROM FINDDB1.MOBILE_SERVICE.DBO.TEMP_MEMBERDB__MOBILE_PUSH_DEVICE_INFO A WITH(NOLOCK) 

	
	SELECT DISTINCT 
		SiteCD, 
		--DEVICETYPE ,	
		 Push_YN_Match,	Push_YN_Notice,	CNT
	INTO #TMP_PUSH_CNT 
--	select SiteCD,	Push_YN_Match,	Push_YN_Notice,	CNT
	FROM FINDDB1.MOBILE_SERVICE.DBO.TEMP_MEMBERDB__MOBILE_PUSH_DEVICE_INFO_CNT A WITH(NOLOCK) 
	
	SELECT  
		B.REST_YN
		,B.MEMBER_CD,CUID  
	INTO #TMP_MEMBER
	FROM MWMEMBER.DBO.CST_MASTER B WITH(NOLOCK) WHERE CUID IN (
	SELECT DISTINCT CUID FROM #TMP_CUID
	) 
	AND  B.OUT_YN = 'N'
	AND  B.REST_YN = 'N'

	INSERT DATA_DASHBOARD_TB 
	SELECT
		CONVERT(VARCHAR(10),GETDATE()-1,120) AS DT,106 AS CODE
		,B.MEMBER_CD
		,LOWER(A.DEVICETYPE) AS DEVICETYPE
		,COUNT(*)
	FROM  #TMP_CUID A WITH(NOLOCK)
	INNER JOIN #TMP_MEMBER B WITH(NOLOCK) ON A.CUID = B.CUID 
	WHERE PUSH_YN_NOTICE ='Y'
	AND A.CUID IS  NOT NULL
	--AND SITECD ='JOB'--32번 서버에서 어차피?  JOB  데이터만 취합
	GROUP BY      B.REST_YN
	,B.MEMBER_CD
	,A.DEVICETYPE
	
	
/* --2019-02-22 보류
	INSERT DATA_DASHBOARD_TB 
	SELECT
		CONVERT(VARCHAR(10),GETDATE()-1,120) AS DT,106 AS CODE
		,0 as MEMBER_CD -- 
		,LOWER(A.DEVICETYPE) AS DEVICETYPE
		,sum(cnt)
	FROM  #TMP_PUSH_CNT A WITH(NOLOCK)
	WHERE PUSH_YN_NOTICE ='Y'
	AND SITECD ='JOB'--32번 서버에서 어차피?  JOB  데이터만 취합
	GROUP BY    
	A.DEVICETYPE
*/
	/* 서비스 이용동의 추가 */
	INSERT STATS.dbo.DATA_DASHBOARD_TB
	SELECT
	 B.YYYY_MM_DD,107,C.MEMBER_CD,AGREE_CD  ,COUNT(*)AS CNT 
	FROM MWMEMBER.DBO.CST_SERVICE_USE_AGREE A WITH(NOLOCK)
	INNER JOIN MWMEMBER.DBO.COPY_YYYYMMDD_TB  B WITH(NOLOCK) ON A.REG_DT <= B.YYYY_MM_DD
	INNER JOIN MWMEMBER.DBO.CST_MASTER C WITH(NOLOCK) ON A.CUID = C.CUID 
	 WHERE 
	 B.YYYY_MM_DD = @START_DT
	 and C.REST_YN='N'
	 and C.OUT_YN='N'
	 GROUP BY B.YYYY_MM_DD,AGREE_CD ,C.MEMBER_CD 
	 order by 1,2,3,4
	 
	INSERT STATS.dbo.DATA_DASHBOARD_TB 
	 SELECT
	 B.YYYY_MM_DD,107,C.MEMBER_CD,999  ,COUNT(distinct A.CUID )AS CNT 
	FROM MWMEMBER.DBO.CST_SERVICE_USE_AGREE A WITH(NOLOCK)
	INNER JOIN MWMEMBER.DBO.COPY_YYYYMMDD_TB  B WITH(NOLOCK)
	 ON A.REG_DT <= B.YYYY_MM_DD
	 INNER JOIN MWMEMBER.DBO.CST_MASTER C WITH(NOLOCK) ON A.CUID = C.CUID 
	 WHERE 
	 B.YYYY_MM_DD = @START_DT
	 and C.REST_YN='N'
	 and C.OUT_YN='N'
	 GROUP BY B.YYYY_MM_DD ,C.MEMBER_CD 
	order by 1  ,3


	-- 회원가입 대행 추가 2020-10-19
	INSERT STATS.dbo.DATA_DASHBOARD_TB 
	SELECT 
	 CONVERT(VARCHAR(10),JOIN_DT,120) AS DT ,108 AS CODE ,MEMBER_CD ,ISNULL(B.SECTION_CD ,'기타') AS GBN
	 ,COUNT(*) AS CNT
	--INTO #TMP
	FROM MWMEMBER.DBO.CST_MASTER A WITH(NOLOCK)
	LEFT OUTER JOIN MWMEMBER.DBO.CST_JOIN_INFO B WITH(NOLOCK) ON A.CUID = B.CUID 
	WHERE JOIN_DT >= @START_DT AND JOIN_DT < @END_DT AND A.AGENCY_YN = 'Y'
	GROUP BY CONVERT(VARCHAR(10),JOIN_DT,120) ,MEMBER_CD ,B.SECTION_CD 
	ORDER BY 1 DESC


END 



GO
/****** Object:  StoredProcedure [dbo].[STAT_DAILY_MEMBER_PROC]    Script Date: 2021-11-04 오전 11:01:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*************************************************************************************
 *  단위 업무 명 : 일별 회원통계
 *  작   성   자 : 정헌수
 *  작   성   일 : 2018-11-08
 *  수   정   자 : 배진용
 *  수   정   일 : 2020-10-19
 *  설        명 : 통계 회원가입대행 추가
 *  주 의  사 항 : 
 *  사 용  소 스 : 
 *  예        제 : 
 
 BAT_DAILY_MEMBER_STAT_PROC
 *************************************************************************************/
CREATE  PROCEDURE [dbo].[STAT_DAILY_MEMBER_PROC]
@START_DT varchar(10) =''
,@END_DT varchar(10) =''

AS 
SET NOCOUNT ON

BEGIN
IF @START_DT = '' 
BEGIN
	SET @START_DT  = CONVERT(varchar(10),getdate()-1,120)
	SET @END_DT  = CONVERT(varchar(10),getdate()-1,120)
END


	SELECT 
	DT
	,SUM(CASE WHEN CODE = 101 AND MEMBER_CD = 1 AND B.CHANNEL ='모바일' THEN CNT ELSE 0 END ) AS [개인모바일가입]
	,SUM(CASE WHEN CODE = 101 AND MEMBER_CD = 1 AND B.CHANNEL <>'모바일' THEN CNT ELSE 0 END ) AS [개인온라인가입]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [개인가입]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 1 AND A.GBN ='10대이하' THEN CNT ELSE 0 END ) AS [개인가입10대이하]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 1 AND A.GBN ='20대' THEN CNT ELSE 0 END ) AS [개인20대]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 1 AND A.GBN ='30대' THEN CNT ELSE 0 END ) AS [개인30대]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 1 AND A.GBN ='40대' THEN CNT ELSE 0 END ) AS [개인40대]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 1 AND A.GBN ='50대' THEN CNT ELSE 0 END ) AS [개인50대]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 1 AND A.GBN ='60대' THEN CNT ELSE 0 END ) AS [개인60대이상]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [누적개인회원]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 1 AND A.GBN ='10대이하' THEN CNT ELSE 0 END ) AS [개인누적10대이하]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 1 AND A.GBN ='20대' THEN CNT ELSE 0 END ) AS [개인20대]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 1 AND A.GBN ='30대' THEN CNT ELSE 0 END ) AS [개인30대]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 1 AND A.GBN ='40대' THEN CNT ELSE 0 END ) AS [개인40대]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 1 AND A.GBN ='50대' THEN CNT ELSE 0 END ) AS [개인50대]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 1 AND A.GBN ='60대' THEN CNT ELSE 0 END ) AS [개인60대이상]

	,SUM(CASE WHEN CODE = 104 AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [탈퇴개인회원]
	,SUM(CASE WHEN CODE = 105 AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [개인마케팅수신동의]
	,SUM(CASE WHEN CODE = 106 AND MEMBER_CD = 1 AND A.GBN = 'android' THEN CNT ELSE 0 END ) AS [개인PUSH수신동의ADROID]
	,SUM(CASE WHEN CODE = 106 AND MEMBER_CD = 1 AND A.GBN = 'ios' THEN CNT ELSE 0 END ) AS [개인PUSH수신동의ios]
	,'|' [개인<>기업]

	,SUM(CASE WHEN CODE = 101 AND MEMBER_CD = 2 AND B.CHANNEL ='모바일' THEN CNT ELSE 0 END ) AS [기업모바일가입]
	,SUM(CASE WHEN CODE = 101 AND MEMBER_CD = 2 AND B.CHANNEL <>'모바일' THEN CNT ELSE 0 END ) AS [기업온라인가입]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [기업가입]

	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 2 AND A.GBN ='10대이하' THEN CNT ELSE 0 END ) AS [기업가입10대이하]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 2 AND A.GBN ='20대' THEN CNT ELSE 0 END ) AS [기업20대]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 2 AND A.GBN ='30대' THEN CNT ELSE 0 END ) AS [기업30대]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 2 AND A.GBN ='40대' THEN CNT ELSE 0 END ) AS [기업40대]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 2 AND A.GBN ='50대' THEN CNT ELSE 0 END ) AS [기업50대]
	,SUM(CASE WHEN CODE = 102 AND MEMBER_CD = 2 AND A.GBN ='60대' THEN CNT ELSE 0 END ) AS [기업60대이상]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [누적기업회원]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 2 AND A.GBN ='10대이하' THEN CNT ELSE 0 END ) AS [기업누적10대이하]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 2 AND A.GBN ='20대' THEN CNT ELSE 0 END ) AS [기업20대]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 2 AND A.GBN ='30대' THEN CNT ELSE 0 END ) AS [기업30대]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 2 AND A.GBN ='40대' THEN CNT ELSE 0 END ) AS [기업40대]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 2 AND A.GBN ='50대' THEN CNT ELSE 0 END ) AS [기업50대]
	,SUM(CASE WHEN CODE = 103 AND MEMBER_CD = 2 AND A.GBN ='60대' THEN CNT ELSE 0 END ) AS [기업60대이상]

	,SUM(CASE WHEN CODE = 104 AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [탈퇴기업회원]
	,SUM(CASE WHEN CODE = 105 AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [기업마케팅수신동의]
	,SUM(CASE WHEN CODE = 106 AND MEMBER_CD = 2 AND A.GBN = 'android' THEN CNT ELSE 0 END ) AS [기업PUSH수신동의ADROID]
	,SUM(CASE WHEN CODE = 106 AND MEMBER_CD = 2 AND A.GBN = 'ios' THEN CNT ELSE 0 END ) AS [기업PUSH수신동의ios]

	-- 회원가입 대행 추가
	,SUM(CASE WHEN CODE = 108 AND MEMBER_CD = 2 AND A.GBN = 'S102' THEN CNT ELSE 0 END ) AS [회원가입 대행]

	FROM DBO.DATA_DASHBOARD_TB A WITH(NOLOCK) 
	LEFT OUTER JOIN MWMEMBER.DBO.CC_SECTION_TB B WITH(NOLOCK) ON A.CODE = 101 AND A.GBN = B.SECTION_CD
	WHERE DT BETWEEN @START_DT AND @END_DT 
	GROUP BY DT


END
GO
/****** Object:  StoredProcedure [dbo].[STAT_DAILY_MEMBER_USE_AGREE_PROC]    Script Date: 2021-11-04 오전 11:01:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*************************************************************************************
 *  단위 업무 명 : 일별 회원통계(이용동의)
 *  작   성   자 : 정헌수
 *  작   성   일 : 2019-02-01
 *  수   정   자 : 
 *  수   정   일 : 
 *  설        명 :
 *  주 의  사 항 : 
 *  사 용  소 스 : 
 *  예        제 : 
 
 STAT_DAILY_MEMBER_USE_AGREE_PROC '2019-01-18','2019-02-01'
 *************************************************************************************/
CREATE  PROCEDURE [dbo].[STAT_DAILY_MEMBER_USE_AGREE_PROC]
@START_DT varchar(10) =''
,@END_DT varchar(10) =''

AS 
SET NOCOUNT ON

BEGIN
IF @START_DT = '' 
BEGIN
	SET @START_DT  = CONVERT(varchar(10),getdate()-1,120)
	SET @END_DT  = CONVERT(varchar(10),getdate()-1,120)
END


	SELECT 
	DT
	,SUM(CASE WHEN SECTION_CD = 'S101' AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [개인_벼룩시장]
	,SUM(CASE WHEN SECTION_CD = 'S102' AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [개인_구인구직]
	,SUM(CASE WHEN SECTION_CD = 'S103' AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [개인_부동산]
	,SUM(CASE WHEN SECTION_CD = 'H001' AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [개인_부동산써브]
	,SUM(CASE WHEN SECTION_CD = 'S101' AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [기업_벼룩시장]
	,SUM(CASE WHEN SECTION_CD = 'S102' AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [기업_구인구직]
	,SUM(CASE WHEN SECTION_CD = 'S103' AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [기업_부동산]
	,SUM(CASE WHEN SECTION_CD = 'H001' AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [기업_부동산써브]
	,SUM(CASE WHEN GBN = '999' AND MEMBER_CD = 1 THEN CNT ELSE 0 END ) AS [개인_누적]
	,SUM(CASE WHEN GBN = '999' AND MEMBER_CD = 2 THEN CNT ELSE 0 END ) AS [기업_누적]


	FROM DBO.DATA_DASHBOARD_TB A WITH(NOLOCK) 
	LEFT OUTER JOIN MWMEMBER.DBO.CMN_CODE B WITH(NOLOCK) ON A.CODE = 107 AND A.GBN = B.CODE_ID  and B.CODE_GROUP_ID = 'SERVICE_CD'
	WHERE DT BETWEEN @START_DT AND @END_DT 
	GROUP BY DT
  ORDER BY DT ASC

END 

GO
