USE [PAPERJOB]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_CHKMONTH]    Script Date: 2021-11-04 오전 10:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FN_CHKMONTH]
(
       @PAY_DT  VARCHAR(10),
       @NOW     VARCHAR(10)
)
RETURNS CHAR(3)
AS
BEGIN
    DECLARE @CUR_DT   VARCHAR(10)
    DECLARE @PAY_YEAR  VARCHAR(10)
    DECLARE @PAY_MONTH VARCHAR(2)

    DECLARE @RETURN_VAL CHAR(3)

    SET @CUR_DT = @NOW
    SET @PAY_YEAR = YEAR(DATEADD(MONTH, 1,@PAY_DT))
    SET @PAY_MONTH = MONTH(DATEADD(MONTH, 1,@PAY_DT))

    IF @PAY_DT>@CUR_DT	--결제일이 현재날짜보다 크다
    BEGIN
        RETURN 'DIS'
    END

    IF LEN(@PAY_MONTH)=1
       SET @PAY_MONTH='0'+@PAY_MONTH

    IF @CUR_DT < CAST(@PAY_YEAR+@PAY_MONTH+'05' AS VARCHAR(10))
    BEGIN
		SET @RETURN_VAL='ENA'
    END
    ELSE
    BEGIN
		SET @RETURN_VAL='DIS'
    END
	RETURN @RETURN_VAL
END








GO
/****** Object:  UserDefinedFunction [dbo].[FN_DATE_TO_CHAR12]    Script Date: 2021-11-04 오전 10:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
날짜형식을 'yyyyMMddHHmm' 형식으로 변경
*/
CREATE FUNCTION [dbo].[FN_DATE_TO_CHAR12](
  @VALUE DATETIME
)
RETURNS CHAR(12)
AS
BEGIN

  DECLARE @RESULT CHAR(12)

  SET @RESULT = CONVERT(CHAR(12), REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(16), @VALUE, 120), '-', ''), ':', ''), ' ', ''))

  RETURN @RESULT

END





GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_NUM]    Script Date: 2021-11-04 오전 10:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*************************************************************************************
 *  단위 업무 명 : 야알바 전화번호 숫자만 가져오기
 *  작   성   자 : 백규원
 *  작   성   일 : 2018/01/23
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 :
 *************************************************************************************/
CREATE FUNCTION [dbo].[FN_GET_NUM] (@STRNUM VARCHAR(256)) 

RETURNS VARCHAR(256) 
AS 
  BEGIN 
      DECLARE @INTNUM INT 

      SET @INTNUM = PATINDEX('%[^0-9]%', @STRNUM) 

      BEGIN 
          WHILE @INTNUM > 0 
            BEGIN 
                SET @STRNUM = STUFF(@STRNUM, @INTNUM, 1, '') 
                SET @INTNUM = PATINDEX('%[^0-9]%', @STRNUM) 
            END 
      END 

      RETURN ISNULL(@STRNUM, 0) 
  END 
GO
/****** Object:  UserDefinedFunction [dbo].[FN_YAALBA_CO_NAME_REPLACE]    Script Date: 2021-11-04 오전 10:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 야알바 업소명 치환처리
 *  작   성   자 : 장 재 웅(rainblue1@mediawill.com)
 *  작   성   일 : 2012-12-21
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 :
 *************************************************************************************/
CREATE FUNCTION [dbo].[FN_YAALBA_CO_NAME_REPLACE]
(
	@CO_NAME VARCHAR(100)
)
RETURNS VARCHAR(100)
AS
BEGIN
	DECLARE @RETURN_CONAME	VARCHAR(100)

		SET @RETURN_CONAME= REPLACE(@CO_NAME, '<' , '')

		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '>' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '''' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '\\' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '%27' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '%2527' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '%00' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '%20OR' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '%20GO' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, 'OR%20' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, 'GO%20' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, 'CMD' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '(' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, ')' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '*' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '!' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '&lt;' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '&gt;' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '@' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, ';' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '&' , ' & ')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♡' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♥' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '☆' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '★' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '＠' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '→' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♧' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♣' , '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '＃', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '○', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '●', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '☞', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '☜', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♩', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♪', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♬', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♭', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◇', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◆', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '□', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '■', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◁', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◀', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '▷', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '▶', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◎', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◈', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '▣', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◇', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◆', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '←', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '↑', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '↓', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '↔', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '△', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '▲', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '▼', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '~', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '^', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♠', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '♤', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '"', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '˝', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '〓', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '↖', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◑', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '◐', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '=', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '↘', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '↙', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '☎', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '‡', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '+', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '$', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '%', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '¶', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '【', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '】', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '⊙', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '※', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '§', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '▒', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '▩', '')
		SET @RETURN_CONAME= REPLACE(@RETURN_CONAME, '#', '')


	RETURN @RETURN_CONAME

END




GO
/****** Object:  UserDefinedFunction [dbo].[FN_YAALBA_CO_TITLE_REPLACE]    Script Date: 2021-11-04 오전 10:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 야알바 제목 치환처리
 *  작   성   자 : 장 재 웅(rainblue1@mediawill.com)
 *  작   성   일 : 2012-12-21
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 :
 *************************************************************************************/
CREATE FUNCTION [dbo].[FN_YAALBA_CO_TITLE_REPLACE]
(
	@TITLE VARCHAR(500)
)
RETURNS VARCHAR(500)
AS
BEGIN
	DECLARE @RETURN_TITLE	VARCHAR(500)

		SET @RETURN_TITLE= REPLACE(@TITLE, '<' , '')

		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '>' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '''' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '\\' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '%27' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '%2527' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '%00' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '%20OR' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '%20GO' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, 'OR%20' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, 'GO%20' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, 'CMD' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '(' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, ')' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '*' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '!' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '&lt;' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '&gt;' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '@' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, ';' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '&' , ' & ')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♡' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♥' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '☆' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '★' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '＠' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '→' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♧' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♣' , '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '＃', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '○', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '●', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '☞', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '☜', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♩', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♪', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♬', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♭', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◇', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◆', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '□', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '■', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◁', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◀', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '▷', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '▶', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◎', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◈', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '▣', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◇', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◆', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '←', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '↑', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '↓', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '↔', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '△', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '▲', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '▼', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '~', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '^', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♠', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '♤', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '"', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '˝', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '〓', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '↖', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◑', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '◐', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '=', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '↘', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '↙', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '☎', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '‡', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '+', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '$', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '%', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '¶', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '【', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '】', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '⊙', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '※', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '§', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '▒', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '▩', '')
		SET @RETURN_TITLE= REPLACE(@RETURN_TITLE, '#', '')



	RETURN @RETURN_TITLE

END




GO
/****** Object:  UserDefinedFunction [dbo].[GOALBA_NAME_CONVERT_FUNC]    Script Date: 2021-11-04 오전 10:43:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*************************************************************************************
 *  단위 업무 명 : 고알바 금지어
 *  작   성   자 : 김 민 석(rocker76@mediawill.com)
 *  작   성   일 : 2010-03-19
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 :
 *************************************************************************************/


CREATE FUNCTION [dbo].[GOALBA_NAME_CONVERT_FUNC]
(
	@NAMEVAL VARCHAR(4000)
)
RETURNS VARCHAR(4000)
AS
BEGIN
	DECLARE @RETURNCODE	VARCHAR(4000)

		SET @RETURNCODE= REPLACE(@NAMEVAL, CHAR(13)+CHAR(10) , '')
		--SET @RETURNCODE= @NAMEVAL

		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래  도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래   도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래방도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래방 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래방  도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래방   도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노 래 도 우 미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노 래 방 도 우 미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래장도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요방도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요방 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '피부관리' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '이미지모델' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '극강하드' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '북창동스타일' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '휴게텔' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '이미지클럽' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '신고식' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '풀싸롱2부' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '키스방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '홈런' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '풀코스2차' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '페티쉬클럽' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '하드업소' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '하드코어' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '마사지' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '구미식' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '북창동식' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '럭셔리샵' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '외국DVD방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '해외' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '풀사롱' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '스킨케어' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '립서비스' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '대화방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '전투' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '안마' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '북창동' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '풀서비스' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '구장' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '마이킹' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '보도방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '보도' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '룸보도' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래방보도' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '쭉쭉빵빵' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '못생겨도됨' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '매력적인여성' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '12개월내내대박' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '12개월계속' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '이미지방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '비밀보장' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '애프터' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '에프터' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '단속걱정 NO' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '단속걱정NO' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '접대부' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '해외업소' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '오피스마사지' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '오피스' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '오피스텔' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '풀살롱' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '소프트' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래"도우미"' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래 "도우미"' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래  "도우미"' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래   "도우미"' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래방"도우미"' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래방 "도우미"' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래방  "도우미"' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래바도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래바 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래빠도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래빠 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요여자도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요룸도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요룸 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요 룸도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '바도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '바 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '빠도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '빠 도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요노래보조' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '가요 노래보조' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '온천장' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '유흥도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래알바' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래보조알바' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '노래고정도우미' , '노래보조')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '맛사지' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '오픈업소' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '풀싸롱' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '2부' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '보도' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '보도방' , '')
		--SET @RETURNCODE= REPLACE(@RETURNCODE, '교포' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '2차' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '단속' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '아빠방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '㉤' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '㉠' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '㉨' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'ⓗ' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '㉩' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'ⓐ' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'ⓙ' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'ⓧ' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'ⓑ' , '')

		/* 2015.02.04 추가 */
		SET @RETURNCODE= REPLACE(@RETURNCODE, '단속 없는' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '단속없는' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '안전한' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '파장동식' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'K방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'L방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'k방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, 'l방' , '')
		SET @RETURNCODE= REPLACE(@RETURNCODE, '시급' , '')

	RETURN @RETURNCODE
END


























GO
/****** Object:  UserDefinedFunction [dbo].[GOALBA_NAME_EXISTS_FUNC]    Script Date: 2021-11-04 오전 10:43:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*************************************************************************************
 *  단위 업무 명 : 금지어 포함 여부
 *  작   성   자 : 신 장 순(jssin@mediawill.com)
 *  작   성   일 : 2014.02.04
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 : 금지어 포함 광고는 이관하지 않는다
 *  사 용  소 스 :
 *  사 용  예 제 :
 SELECT [dbo].[GOALBA_NAME_EXISTS_FUNC]('샤넬코코 콜!콜! 100%당일결제 초보자환영 일일알바가능 술 셔도 됨 출.퇴근시켜 드립니다 진해 용원 샤넬코코  샤넬코코	')
 *************************************************************************************/
CREATE FUNCTION [dbo].[GOALBA_NAME_EXISTS_FUNC]
(
	@CONTENT		VARCHAR(MAX)
)
RETURNS INT
AS
BEGIN
	DECLARE @RETURNCODE	INT

	DECLARE @COL_TEXT VARCHAR(MAX)
	SET @COL_TEXT = @CONTENT

	SET @RETURNCODE = 0
	SET @RETURNCODE += CHARINDEX('피부관리' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('이미지모델' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('극강하드' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('북창동스타일' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('휴게텔' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('이미지클럽' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('신고식' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('풀싸롱2부' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('키스방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('홈런' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('풀코스2차' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('페티쉬클럽' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('하드업소' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('하드코어' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('마사지' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('구미식' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('북창동식' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('럭셔리샵' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('외국DVD방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('해외' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('풀사롱' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('스킨케어' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('립서비스' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('대화방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('전투' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('안마' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('북창동' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('풀서비스' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('구장' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('마이킹' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('보도방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('보도' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('룸보도' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('노래방보도' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('쭉쭉빵빵' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('못생겨도됨' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('매력적인여성' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('12개월내내대박' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('12개월계속' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('이미지방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('비밀보장' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('애프터' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('에프터' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('단속걱정 NO' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('단속걱정NO' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('접대부' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('해외업소' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('오피스마사지' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('오피스' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('오피스텔' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('풀살롱' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('소프트' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('온천장' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('맛사지' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('오픈업소' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('풀싸롱' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('2부' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('보도' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('보도방' , @COL_TEXT)
	--SET @RETURNCODE += CHARINDEX('교포' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('2차' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('단속' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('아빠방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('단속 없는' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('단속없는' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('안전한' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('파장동식' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('K방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('L방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('k방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('l방' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시급' , @COL_TEXT)
  -- 2015.02.13 신혜원 파트장 추가 요청
	SET @RETURNCODE += CHARINDEX('시간당' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간비' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간당 2만5천원' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간당 3만원' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간당 25,000~30,000' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간당+α' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간비 2만5천원' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간비 3만원' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간비 25,000~30,000' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('시간비+α' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('1시간 3만원' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('1시간 2만5천원' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('1시간 3만5천원' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('1시간 25,000-30,000' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('1시간 30,000원' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('1시간 3만+α' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('1시간 3만' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('1시간당 3만' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('월수입600만이상' , @COL_TEXT)
	-- 2015.02.16 신혜원 파트장 추가 요청
	SET @RETURNCODE += CHARINDEX('1시간' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('한시간' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('60분' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('600만이상' , @COL_TEXT)
	SET @RETURNCODE += CHARINDEX('30만이상' , @COL_TEXT)

	RETURN @RETURNCODE
END





GO
