USE [PAPERREG]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_ADM_CHKMONTH]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_ADM_CHKMONTH]
(
       @PAY_DT  VARCHAR(10),  --convert(varchar(10),getdate(),112)형변환 필요
       @NOW     VARCHAR(10)   --convert(varchar(10),getdate(),112)형변환 필요
)
RETURNS CHAR(3)
AS
BEGIN
    DECLARE @CUR_DT    VARCHAR(10)
    DECLARE @PAY_YEAR  VARCHAR(4)
    DECLARE @PAY_MONTH VARCHAR(2)
    DECLARE @PAY_DAY   VARCHAR(2)

    DECLARE @RETURN_VAL CHAR(3)

    --SET @NOW = CONVERT(VARCHAR(10),CONVERT(DATETIME,@NOW,120)-5,120)    -- //////////////// 2014.08.06 신혜원 파트장 요청으로 임시로 세금계산서 월마감처리 우회 (상황 종료되면 주석 또는 삭제 처리할 것)

    SET @CUR_DT = @NOW
    SET @PAY_YEAR = YEAR(DATEADD(MONTH, 1,@PAY_DT))
    SET @PAY_MONTH = MONTH(DATEADD(MONTH, 1,@PAY_DT))

    IF @PAY_DT>@CUR_DT	--결제일이 현재날짜보다 크다
    BEGIN
      RETURN 'DIS'
    END

    IF LEN(@PAY_MONTH)=1
      SET @PAY_MONTH='0'+@PAY_MONTH

    SELECT @PAY_DAY=DD FROM TAX_CLOSING_DATE_TB WITH (NOLOCK)
     WHERE YYYYMM=@PAY_YEAR+@PAY_MONTH

    IF @@ROWCOUNT=0
    BEGIN
      SET @PAY_DAY='05'
    END
    ELSE
    BEGIN
      IF LEN(@PAY_DAY)=1
        SET @PAY_DAY='0'+@PAY_DAY
    END

    IF @CUR_DT <= CAST(@PAY_YEAR+@PAY_MONTH+@PAY_DAY AS VARCHAR) 
    BEGIN
		  SET @RETURN_VAL='ENA'
    END
    ELSE
    BEGIN
		  SET @RETURN_VAL='DIS'
    END

	  RETURN @RETURN_VAL
END




GO
/****** Object:  UserDefinedFunction [dbo].[FN_CHKMONTH]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_CHKMONTH]
(
       @PAY_DT  VARCHAR(10),
       @NOW     VARCHAR(10)
)
RETURNS CHAR(3)
AS
BEGIN
    DECLARE @CUR_DT   VARCHAR(10)
    DECLARE @PAY_YEAR  VARCHAR(10)
    DECLARE @PAY_MONTH VARCHAR(2)

    DECLARE @RETURN_VAL CHAR(3)

    SET @CUR_DT = @NOW
    SET @PAY_YEAR = YEAR(DATEADD(MONTH, 1,@PAY_DT))
    SET @PAY_MONTH = MONTH(DATEADD(MONTH, 1,@PAY_DT))

    IF @PAY_DT>@CUR_DT	--결제일이 현재날짜보다 크다
    BEGIN
        RETURN 'DIS'
    END

    IF LEN(@PAY_MONTH)=1
       SET @PAY_MONTH='0'+@PAY_MONTH

    IF @CUR_DT < CAST(@PAY_YEAR+@PAY_MONTH+'06' AS VARCHAR(10))
    BEGIN
		SET @RETURN_VAL='ENA'
    END
    ELSE
    BEGIN
		SET @RETURN_VAL='DIS'
    END
	RETURN @RETURN_VAL
END








GO
/****** Object:  UserDefinedFunction [dbo].[FN_CHKQUARTER]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_CHKQUARTER]
(
       @PAY_DT  VARCHAR(10),	--CONVERT 타입을 112로 동일하게 지정
       @NOW     VARCHAR(10)		--CONVERT(VARCHAR(10),GETDATE(),112)
)
RETURNS CHAR(3)
AS
BEGIN
    DECLARE @CUR_DT   VARCHAR(10)
	DECLARE @CUR_YEAR  VARCHAR(4)
    DECLARE @LAST_YEAR VARCHAR(4)

    DECLARE @RETURN_VAL CHAR(3)

    SET @CUR_DT = @NOW
    SET @CUR_YEAR = YEAR(@CUR_DT)
    SET @LAST_YEAR = YEAR(DATEADD(YEAR, -1,@PAY_DT))

	IF @CUR_DT<@PAY_DT
 		RETURN 'DIS'

	IF @CUR_DT < @CUR_YEAR+'0116'
    BEGIN
    	IF @PAY_DT >= @LAST_YEAR+'1001'
			SET @RETURN_VAL='ENA'
        ELSE
			SET @RETURN_VAL='DIS'
	END
	ELSE IF @CUR_DT < @CUR_YEAR+'0416'
    BEGIN
    	IF @PAY_DT >= @CUR_YEAR+'0101'
			SET @RETURN_VAL='ENA'
        ELSE
			SET @RETURN_VAL='DIS'
	END
	ELSE IF @CUR_DT < @CUR_YEAR+'0716'  --0716
    BEGIN
    	IF @PAY_DT >= @CUR_YEAR+'0401'
			SET @RETURN_VAL='ENA'
        ELSE
			SET @RETURN_VAL='DIS'
	END
	ELSE IF @CUR_DT < @CUR_YEAR+'1016'
    BEGIN
    	IF @PAY_DT >= @CUR_YEAR+'0701'
			SET @RETURN_VAL='ENA'
        ELSE
			SET @RETURN_VAL='DIS'
	END
	ELSE IF @CUR_DT >= @CUR_YEAR+'1016'
    BEGIN
    	IF @PAY_DT >= @CUR_YEAR+'1001'
			SET @RETURN_VAL='ENA'
        ELSE
			SET @RETURN_VAL='DIS'
	END

	RETURN @RETURN_VAL
END







GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_USERID_SECURE]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*



select dbo.FN_GET_USERID_SECURE('kkamang')
select dbo.FN_GET_USERID_SECURE('kkamang@naver.com')

*/
CREATE FUNCTION [dbo].[FN_GET_USERID_SECURE](
	@VAL varchar(50)
)

RETURNS VARCHAR(50)

AS
BEGIN
	SET @VAL = ISNULL(@VAL,'')
	DECLARE @MAIL1 VARCHAR(50) = @VAL
	DECLARE @MAIL2 VARCHAR(50)=''
	DECLARE @GBN INT = 0 
	IF @VAL = ''
		RETURN  @VAL

  IF @VAL LIKE '%@%' 
	BEGIN
		SELECT @MAIL1  = DBO.FN_SPLIT(@VAL,'@',1)
			,@MAIL2  = DBO.FN_SPLIT(@VAL,'@',2)
    IF LEN(@MAIL1) <= 3
    BEGIN
      SET @MAIL1 = LEFT(@MAIL1 ,1) + REPLICATE('*',LEN(@MAIL1)-1)
    END
    ELSE
    BEGIN
      SET @MAIL1 = LEFT(@MAIL1 ,LEN(@MAIL1)-3) + REPLICATE('*',3)
    END
    SET @MAIL1 = @MAIL1 + '@' + @MAIL2
	END
  ELSE
  BEGIN
    SET @MAIL1 = LEFT(@MAIL1 ,2) + REPLICATE('*',LEN(@MAIL1)-2)
  END

	RETURN @MAIL1
END

GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_USERNM_SECURE]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

select replicate('*',3)

select dbo.FN_GET_USERNM_SECURE('',1,'R')
select dbo.FN_GET_USERNM_SECURE('정헌',1,'M')
select dbo.FN_GET_USERNM_SECURE('정수수/수헌수',1,'M')


*/
CREATE FUNCTION [dbo].[FN_GET_USERNM_SECURE](
	@VAL varchar(50)
	,@LEN INT = 1
	,@OPT char(1) ='R' --R : 오른쪽* 처리,L : 왼쪽* 처리,M : 중간* 처리
)

RETURNS VARCHAR(50)

AS
BEGIN
	SET @VAL = ISNULL(@VAL,'')
   IF LEN(@VAL) = 0 
	SET @VAL = ''
   ELSE IF LEN(@VAL) = 2 
	SET @VAL = LEFT(@VAL ,@LEN) + '*'
   ELSE IF @OPT = 'R'
	SET @VAL = LEFT(@VAL ,@LEN) + replicate('*',len(@VAL) - @LEN)  
   ELSE IF @OPT = 'L'
	SET @VAL =  replicate('*',len(@VAL) - @LEN)  + RIGHT(@VAL ,@LEN)
   ELSE IF @OPT = 'M'
	SET @VAL = LEFT(@VAL ,@LEN) + replicate('*',len(@VAL) - @LEN * 2 )  + RIGHT(@VAL ,@LEN)
   

	RETURN @VAL
END


GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_USERPHONE_SEARCH]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 전화번호 검색
 *  작   성   자 : 도 정 민
 *  작   성   일 : 2019/05/10
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 : 다중 전화번호 검색 가능(전화번호 컬럼값이 3개 이상 일때 사용하는 함수) 
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 :
 *************************************************************************************/
CREATE FUNCTION [dbo].[FN_GET_USERPHONE_SEARCH](
	 @VAL varchar(1000)
	,@searchword varchar(1000) =''  
	,@str CHAR(1) = ',' -- 구분기호(Default ',')
)

RETURNS VARCHAR(1000)

AS
BEGIN
	DECLARE @VAL1 varchar(1000)
	DECLARE @VAL2 varchar(1000)
	DECLARE @RETURNVALUE varchar(1000) 
	DECLARE @cnt int
	DECLARE @i int

	SET @i = 0

	/* -를 공백처리 */
	SET @VAL = REPLACE(@VAL,'-','')
	SET @searchword = REPLACE(@searchword,'-','')

	/* 전화번호 갯수 구하기 */
	SET @cnt  = LEN(@VAL) - LEN(REPLACE(@VAL,@str,'')) + 1

	IF @cnt > 1 
	BEGIN 
		WHILE(@i < @cnt)
		BEGIN 
				IF(CHARINDEX(@str,@VAL) > 0) 
				BEGIN	
					SET @VAL1 = SUBSTRING(@VAL, 1, CHARINDEX(@str,@VAL) - 1)  

					IF @VAL1 = @searchword 
					BEGIN
					   SET @RETURNVALUE = @VAL1
					   RETURN @RETURNVALUE
					END
					ELSE
					BEGIN
					   SET @VAL2 = SUBSTRING(@VAL, LEN(@VAL1) + 2, LEN(@VAL))
					END 
				
					SET @VAL = @VAL2
				END
				ELSE
				BEGIN
				    IF @VAL2 = @searchword 
					BEGIN
						SET @RETURNVALUE = @VAL2
						RETURN @RETURNVALUE
					END
					ELSE
					BEGIN
						SET @RETURNVALUE = NULL
						RETURN @RETURNVALUE
					END
				END
				
				SET @i = @i + 1
		END				
	END
	ELSE
	BEGIN
	    IF  @VAL = @searchword
		BEGIN 
			SET @RETURNVALUE = @VAL
			RETURN @RETURNVALUE
		END
		ELSE
		BEGIN
			SET @RETURNVALUE = NULL
			RETURN @RETURNVALUE
		END
	END

	RETURN @RETURNVALUE
END			



GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_USERPHONE_SECURE]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

select replicate('*',3)

select dbo.FN_GET_USERPHONE_SECURE('01031273287','R')


*/
CREATE FUNCTION [dbo].[FN_GET_USERPHONE_SECURE](
	@VAL varchar(50)
	,@OPT char(1) ='M' --R : 오른쪽* 처리,M : 중간* 처리
)

RETURNS VARCHAR(50)

AS
BEGIN
	IF @VAL ='' 
	RETURN @VAL

	SET @VAL = ISNULL(@VAL,'')
	declare @TEL1 varchar(10)
	declare @TEL2 varchar(10)
	declare @TEL3 varchar(10)
	IF len(replace(@VAL,'-','')) = len(@VAL) 
	BEGIN
		SET @TEL1 = left(@VAL,3)
		SET @TEL2 = RIGHT(left(@VAL ,len(@VAL) - 4),len(@VAL) - 7)
		SET @TEL3 = RIGHT(@VAL,4)
	END
	ELSE 
	BEGIN
		SET @VAL = @VAL + '--'
		SET @TEL1 = DBO.FN_SPLIT( @VAL,'-',1)
		SET @TEL2 = DBO.FN_SPLIT( @VAL,'-',2)
		SET @TEL3 = DBO.FN_SPLIT( @VAL,'-',3)

	END
		IF @OPT='R' 
			SET @TEL3 = '****'
		ELSE 
			SET @TEL2 = '****'
		
	RETURN @TEL1 + '-' + @TEL2 + '-' + @TEL3 
END


GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_USERPHONE_SECURE_V2]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 전화번호 반환V2
 *  작   성   자 : 도 정 민
 *  작   성   일 : 2019/04/10
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 : 전화번호 2개까지 마스킹 처리해서 반환 가능  
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 : SELECT dbo.FN_GET_USERPHONE_SECURE_V2('011-1111-1111,02-3333-3333', 'M',',')  AS PHONE
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V2('011-1111-1111', 'M',',')  AS PHONE
 *************************************************************************************/
CREATE FUNCTION [dbo].[FN_GET_USERPHONE_SECURE_V2](
	 @VAL varchar(50)
	,@OPT char(1) ='M'  --R : 오른쪽* 처리,M : 중간* 처리
	,@str CHAR(1) = '|' -- 구분기호(Default '|')
)

RETURNS VARCHAR(50)

AS
BEGIN
	IF @VAL = '' 
	RETURN @VAL

	DECLARE @strcnt INT
	DECLARE @i INT    
	DECLARE @VAL1 varchar(20)
	DECLARE @VAL2 varchar(20)
	DECLARE @VAL_ENC1 varchar(20)
	DECLARE @VAL_ENC2 varchar(20)
	DECLARE @VAL_ENC varchar(50)
	SET @strcnt = 0
	
	SET @strcnt = (SELECT CHARINDEX(@str,@VAL))
	IF @strcnt > 0 
	BEGIN
    	 
		SET @i = 1
		
		IF LEN(@VAL) < 10   
		BEGIN              
			SET @VAL_ENC = (SELECT dbo.FN_GET_USERID_SECURE(@VAL))			
		END
		ELSE
		BEGIN
			WHILE  @i < 3
			BEGIN
				IF @i = 1
				BEGIN
				    SET @VAL1 = SUBSTRING(@VAL,0,CHARINDEX(@str,@VAL))                -- 앞번호 추출
				   
				    IF LEN(@VAL1) < 10   
					BEGIN              
						SET @VAL_ENC1 = (SELECT dbo.FN_GET_USERID_SECURE(@VAL1))			
					END
					ELSE
					BEGIN
						SET @VAL_ENC1 = (SELECT dbo.FN_GET_USERPHONE_SECURE(@VAL1,@OPT)) 
					END		   
				END
				ELSE
				BEGIN
					SET @VAL2 = SUBSTRING(@VAL,CHARINDEX(@str,@VAL) + 1, LEN(@VAL))   -- 뒷번호 추출

					IF LEN(@VAL2) < 10   
					BEGIN              
						SET @VAL_ENC2 = (SELECT dbo.FN_GET_USERID_SECURE(@VAL2))			
					END
					ELSE
					BEGIN
						SET @VAL_ENC2 = (SELECT dbo.FN_GET_USERPHONE_SECURE(@VAL2,@OPT)) 
					END
				END
				
				SET @i = @i + 1  
			END
	
			SET @VAL_ENC = @VAL_ENC1 + '' + @str + ''  + @VAL_ENC2
		END
	
    END
	ELSE
	BEGIN
	    IF LEN(@VAL) < 10   
		BEGIN              
			SET @VAL_ENC = (SELECT dbo.FN_GET_USERID_SECURE(@VAL))			
		END
		ELSE
		BEGIN
			SET @VAL_ENC = (SELECT dbo.FN_GET_USERPHONE_SECURE(@VAL,@OPT)) 
		END
	END

	RETURN @VAL_ENC
END			



GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_USERPHONE_SECURE_V3]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 전화번호 반환V3
 *  작   성   자 : 도 정 민
 *  작   성   일 : 2019/05/03
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 : 다중 전화번호 마스킹 처리 및 반환 가능(전화번호 컬럼값이 3개 이상 일때 사용하는 함수) 
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 : SELECT dbo.FN_GET_USERPHONE_SECURE_V3('010-9416-7703,010-9416-7703,010-9416-7703,010-9416-7703,010-9416-7703,010-9416-7703,010-9416-7703','M',',') AS PHONE
                   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('010-9416-7703,010-9416-7703,010-9416-7703,010-9416-7703,010-9416-7703,010-9416-7703,010-9416-7703','R',',') AS PHONE
                   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('010-9416-7703_010-9416-7703_010-9416-7703_010-9416-7703_010-9416-7703_010-9416-7703_010-9416-7703','M','_') AS PHONE
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('010-9416-7703_010-9416-7703_010-9416-7703_010-9416-7703_010-9416-7703_010-9416-7703_010-9416-7703','R','_') AS PHONE
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('1588-1234,010-2217-0355','M',',')
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('--,010-2217-0355','M',',')
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('02-4004-3385','M',',')
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('024003385','M',',')
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('-1544-4539,010-6308-2483','M',',')
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('010-5279-6946,010-5279-6946','M',',')
				   SELECT dbo.FN_GET_USERPHONE_SECURE_V3('010-9954-0948,010--','M',',')
 *************************************************************************************/
CREATE FUNCTION [dbo].[FN_GET_USERPHONE_SECURE_V3](
	 @VAL varchar(1000)
	,@OPT char(1) ='M'  --R : 오른쪽* 처리,M : 중간* 처리
	,@str CHAR(1) = ',' -- 구분기호(Default ',')
)

RETURNS VARCHAR(1000)

AS
BEGIN
	DECLARE @VAL1 varchar(1000)
	DECLARE @VAL2 varchar(1000)
	DECLARE @VAL_ENC varchar(1000) = ''
	DECLARE @VAL_ENC1 varchar(1000) = ''
	DECLARE @cnt int
	DECLARE @i int

	SET @i = 0

	/* 전화번호 갯수 구하기 */
	SET @cnt  = LEN(@VAL) - LEN(REPLACE(@VAL,@str,'')) + 1

	IF @cnt > 1 
	BEGIN 

		--전화번호 마스킹 적용
		WHILE(@i < @cnt)
		BEGIN 
				IF(CHARINDEX(@str,@VAL) > 0) 
				BEGIN	
					SET @VAL1 = SUBSTRING(@VAL, 1, CHARINDEX(@str,@VAL) - 1)  
					SET @VAL2 = SUBSTRING(@VAL, LEN(@VAL1) + 2, LEN(@VAL))

					IF LEN(@VAL1) < 11   
					BEGIN    
						IF LEN(@VAL1) < 4	  
						BEGIN 
							SET @VAL_ENC1 = @VAL1 + @str
							SET @VAL_ENC = @VAL_ENC + @VAL_ENC1
						END
						ELSE
						BEGIN
							SET @VAL_ENC1 = (SELECT dbo.FN_GET_USERID_SECURE(@VAL1)) + @str	
							SET @VAL_ENC = @VAL_ENC + @VAL_ENC1
						END
					END 
					ELSE
					BEGIN
						SET @VAL_ENC1 = dbo.FN_GET_USERPHONE_SECURE(@VAL1,@OPT) + @str 
						SET @VAL_ENC = @VAL_ENC + @VAL_ENC1
					END

					SET @i = @i + 1
					SET @VAL = @VAL2
				END
				ELSE
				BEGIN
				    SET @VAL2 = SUBSTRING(@VAL, 1, LEN(@VAL))
				 
				    IF LEN(@VAL2) < 11
					BEGIN
					    IF LEN(@VAL2) < 4	 
						BEGIN
						    SET @VAL_ENC = @VAL_ENC + @VAL2
						END
						ELSE
						BEGIN
						    SET @VAL_ENC = @VAL_ENC + dbo.FN_GET_USERID_SECURE(@VAL2)
						END
					END
					ELSE
					BEGIN
					     SET @VAL_ENC = @VAL_ENC + dbo.FN_GET_USERPHONE_SECURE(@VAL2,@OPT)
					END
							
					SET @i = @i + 1
					SET @VAL2 = ''
					SET @VAL = @VAL2
				END
		END
	END
	ELSE
	BEGIN
			IF LEN(@VAL) < 11  
			BEGIN    
				  IF LEN(@VAL) < 4	  
				  BEGIN 
						SET @VAL_ENC = @VAL 
				  END
				  ELSE
				  BEGIN
						SET @VAL_ENC = (SELECT dbo.FN_GET_USERID_SECURE(@VAL))
				  END
			END 
			ELSE
			BEGIN
				SET @VAL_ENC = (SELECT dbo.FN_GET_USERPHONE_SECURE(@VAL,@OPT)) 
			END
	END

	RETURN @VAL_ENC
END			



GO
/****** Object:  UserDefinedFunction [dbo].[FN_SPLIT]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_SPLIT](
 @sText  VARCHAR(max),  -- 대상 문자열
 @str   CHAR(1) = '|',       -- 구분기호(Default '|')
 @idx  INT                       -- 배열 인덱스


)
RETURNS VARCHAR(max)
AS
BEGIN
 DECLARE @word    varchar(max),    -- 반환할 문자
      @sTextData  VARCHAR(700),
      @num    SMALLINT;

 SET @num = 1;
 SET @str = LTRIM(RTRIM(@str));
 SET @sTextData = LTRIM(RTRIM(@sText)) + @str;

 WHILE @idx >= @num
 BEGIN


  IF CHARINDEX(@str, @sTextData) > 0
  BEGIN
   -- 문자열의 인덱스 위치의 요소를 반환
   SET @word = SUBSTRING(@sTextData, 1, CHARINDEX(@str, @sTextData) - 1);
   SET @word = LTRIM(RTRIM(@word));


   -- 반환된 문자는 버린후 좌우공백 제거
   SET @sTextData = LTRIM(RTRIM(RIGHT(@sTextData, LEN(@sTextData) - (LEN(@word) + 1))))
  END ELSE BEGIN
   SET @word = NULL;
  END
  SET @num = @num + 1
 END

 IF LEN(RTRIM(@word)) = 0
  BEGIN
    SET @word = NULL;
  END

 RETURN(@word);

END








GO
/****** Object:  UserDefinedFunction [dbo].[QUARTER_STARTDT]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[QUARTER_STARTDT](@CURDATE AS VARCHAR(10))
	RETURNS VARCHAR(10)
AS 

BEGIN
	--DECLARE @CURDATE VARCHAR(10)
	DECLARE @QUARTER TINYINT
	DECLARE @DAY INT
	DECLARE @MONTH INT
	DECLARE @YEAR INT
	
	DECLARE @START_DT VARCHAR(10)
	
	--SET @CURDATE = CONVERT(VARCHAR(10),GETDATE(),111)	GETDATE() 사용불가
	SET @QUARTER=DATENAME(qq,@CURDATE)
	SET @DAY = DAY(@CURDATE)
	SET @MONTH = MONTH(@CURDATE)
	SET @YEAR = YEAR(@CURDATE)
	
	
	IF @DAY<11 AND (@MONTH=1 OR @MONTH=4 OR @MONTH=7 OR @MONTH=10 )
	BEGIN
	    SET @START_DT=CAST(YEAR(DATEADD(MM,-3,@CURDATE)) AS VARCHAR)+'/'+CAST(REPLICATE('0',2-LEN( CAST(MONTH(DATEADD(MM,-3,@CURDATE)) AS VARCHAR)  ))+CAST(MONTH(DATEADD(MM,-3,@CURDATE)) AS VARCHAR) AS VARCHAR)+'/01'
	END
	ELSE --IF @DAY>10
	BEGIN
	    SET @START_DT=CAST(YEAR(@CURDATE) AS VARCHAR)+'/'+CAST(REPLICATE('0',2-LEN(@QUARTER*3-2))+CAST((@QUARTER*3-2) AS VARCHAR) AS VARCHAR)+'/01'
	END

	RETURN 	@START_DT
END







GO
/****** Object:  View [dbo].[_SMS_LINEAD_PAYCANCEL_VI]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*************************************************************************************
 *  단위 업무 명 : SMS 환불신청데이터
 *  작   성   자 : 최 봉 기 (virtualman@mediawill.com)
 *  작   성   일 : 2009/07/15
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 : 
 *  사 용  예 제 : SELECT * FROM DBO.SMS_LINEAD_PAYCANCEL_VI
 *************************************************************************************/


CREATE     VIEW [dbo].[_SMS_LINEAD_PAYCANCEL_VI]

AS

  SELECT A.LINEADID
        ,D.USERNAME
        ,D.HPHONE
        ,D.PHONE
        ,E.PHONETEXT
        ,CASE B.CHARGEKIND WHEN '1' THEN '가상계좌'
                           WHEN '2' THEN '신용카드'
          END AS CHARGEKIND
        ,C.CANCELPRICE
        ,A.BANKNM
        ,A.ACCNO
        ,C.CANCELREGDATE
        ,B.SERIAL
    FROM LINEADUSERORDER AS A WITH (NOLOCK)
    JOIN FINDDB2.FINDCOMMON.DBO.TBL_ACCOUNTTOTAL_PAPER AS B
         ON B.ADID = A.LINEADID
    JOIN FINDDB2.FINDCOMMON.DBO.TBL_ACCCANCEL_PAPER AS C
         ON C.SERIAL = B.SERIAL
    JOIN FINDDB2.MEMBER.DBO.MM_MEMBER_TB AS D
         ON D.USERID = A.USERID
    JOIN LineAd AS E WITH (NOLOCK)
         ON E.LINEADID = A.LINEADID
        AND DEFAULTF='1'
   WHERE A.ORDERF = '2'  -- 광고취소및환불신청
     AND C.CANCELSTATE='2'  -- 처리상태 (1:미처리, 2:처리완료)
  



GO
/****** Object:  View [dbo].[_SMS_LINEAD_TRANS_VI]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*************************************************************************************
 *  단위 업무 명 : SMS 하루게재 자동등록 신문광고
 *  작   성   자 : 최 봉 기 (virtualman@mediawill.com)
 *  작   성   일 : 2009/07/15
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 : 
 *  사 용  예 제 : SELECT * FROM DBO.SMS_LINEAD_TRANS_VI
 *************************************************************************************/


CREATE      VIEW [dbo].[_SMS_LINEAD_TRANS_VI]

As

  SELECT A.LINEADID
        ,A.CLOSEBRANCH 
        ,C.USERNAME
        ,C.HPHONE
        ,C.PHONE
        ,REPLACE(A.PHONETEXT,'$','') AS PHONETEXT
        ,B.ENTRYDATE
        ,A.STARTDATE
        ,A.ENDDATE
        ,B.ISSUECOUNT
    FROM OnlineLineAd AS A WITH (NOLOCK)
    JOIN LineAd AS B WITH (NOLOCK)
         ON B.LINEADID = A.LINEADID
        AND B.CLOSEBRANCH = A.CLOSEBRANCH
    JOIN FINDDB2.MEMBER.DBO.MM_MEMBER_TB AS C
         ON C.USERID = B.USERID
   WHERE A.CONFIRMF IN (0,2)
     AND C.OUT_APPLY_YN = 'N'  -- 탈퇴회원은 제외
     AND CONVERT(VARCHAR(10),A.ENDDATE,120) >= CONVERT(VARCHAR(10),GETDATE(),120)
  




GO
/****** Object:  View [dbo].[ACC_BILL_STAT]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ACC_BILL_STAT]

AS
--연결된 서버 생성시
--데이타 정렬 호환 체크
--원격데이타 정렬 사용 체크
--연결된 서버 SENDBILL 과 연결 IP는 동일하나 연결된서버 생성시 옵션 다름
--SENDBILL_BILL_STAT 와 링크드 서버 설정 다름
SELECT * FROM [116.120.56.64].ACCDB1.dbo.BILL_STAT













GO
/****** Object:  View [dbo].[ACC_BILL_TRANS]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ACC_BILL_TRANS]

AS
--연결된 서버 생성시
--데이타 정렬 호환 체크
--원격데이타 정렬 사용 체크
--연결된 서버 SENDBILL 과 연결 IP는 동일하나 연결된서버 생성시 옵션 다름
SELECT * FROM [116.120.56.64].ACCDB1.dbo.BILL_TRANS










GO
/****** Object:  View [dbo].[LINEAD_ECOMM_PACKAGE_VI]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*************************************************************************************
 *  단위 업무 명 : 직접등록 ECOMM 연계 상품 매핑 테이블 VIEW (LineAd_JobPackage 테이블 대체)
 *  작   성   자 : 최 봉 기 (virtualman@mediawill.com)
 *  작   성   일 : 2014/07/04
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 : 
 *  사 용  예 제 : SELECT * FROM dbo.LINEAD_ECOMM_PACKAGE_VI
 *************************************************************************************/


CREATE VIEW [dbo].[LINEAD_ECOMM_PACKAGE_VI]

AS

    -- LineAd_JobPackage
    SELECT A.LineAdId
          ,A.JobAdId
          ,A.LineAmount
          ,A.JobAmount
          ,A.TotAmount
          ,B.AdType
    FROM LineAd_JobPackage AS A
      JOIN LineAd AS B
        ON B.LineAdId = A.LineAdId
    WHERE B.DefaultF = 1

  UNION ALL

    -- LINEAD_ECOMM_PACKAGE_TB
    SELECT LineAdId
          ,ECOMM_LINEADID AS JobAdId
          ,LineAmount
          ,ECOMM_AMOUNT AS JobAmount
          ,TotAmount
          ,ADTYPE
      FROM LINEAD_ECOMM_PACKAGE_TB 
  







GO
/****** Object:  View [dbo].[PP_ECOMM_LINEAD_LIST_VI]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*************************************************************************************
 *  단위 업무 명 : 구인벼룩시장 ECOMM+신문줄광고 동시등록 리스트
 *  작   성   자 : 최 봉 기 (virtualman@mediawill.com)
 *  작   성   일 : 2014/07/11
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 : 
 *  사 용  예 제 : SELECT * FROM dbo.PP_ECOMM_LINEAD_LIST_VI
 *************************************************************************************/

CREATE VIEW [dbo].[PP_ECOMM_LINEAD_LIST_VI]

AS

  SELECT A.LINEADID
        ,A.ECOMM_LINEADID
        ,B.IssueCount
        ,B.StartDate
        ,B.EndDate
        ,B.LayoutBranch
        ,A.LINEAMOUNT
    FROM dbo.LINEAD_ECOMM_PACKAGE_TB AS A
    JOIN dbo.LineAd AS B
      ON B.LINEADID = A.LINEADID
   WHERE B.DefaultF = 1








GO
/****** Object:  View [dbo].[SENDBILL_BILL_STAT]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SENDBILL_BILL_STAT]

AS

SELECT * FROM SENDBILL.ACCDB1.dbo.BILL_STAT



GO
/****** Object:  View [dbo].[SENDBILL_BILL_TRANS]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SENDBILL_BILL_TRANS]

AS

SELECT * FROM SENDBILL.ACCDB1.dbo.BILL_TRANS







GO
/****** Object:  View [dbo].[TAXUSER_INFO_VI]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*************************************************************************************
 *  단위 업무 명 : 신문벼룩시장 세금계산서 사용자 정보 가져오기 (직접등록/E-Comm 통합)
 *  작   성   자 : 최 봉 기 (virtualman@mediawill.com)
 *  작   성   일 : 2010/11/24
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 : 
 *  사 용  예 제 : SELECT * FROM DBO.TAXUSER_INFO_VI
 *************************************************************************************/


CREATE VIEW [dbo].[TAXUSER_INFO_VI]

AS

  SELECT UserID
        ,UserGbn
        ,ShopNm
        ,JuminNo AS BusinessNo
        ,OnesName
        ,ShopType
        ,ShopPart
        ,Address
        ,Manager
        ,Email
        ,Hphone
        ,Phone
        ,RegDate
        ,ModDate
        ,CUID
    FROM TaxUser

  UNION

  SELECT UserID
        ,UserGbn
        ,ShopNm
        ,BusinessNo
        ,OnesName
        ,ShopType
        ,ShopPart
        ,Address
        ,Manager
        ,Email
        ,Hphone
        ,Phone
        ,RegDate
        ,ModDate
        ,CUID
    FROM FINDDB2.FINDCOMMON.DBO.TaxUser
    






GO
/****** Object:  View [dbo].[vi_AdStateCode]    Script Date: 2022-08-12 오후 3:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vi_AdStateCode]
As

Select A.GroupCode, A.StateCode, B.StateCode2, A.GroupName, A.StateName, B.StateName2 
From AdStateCode A with(Nolock), AdStateCodeDet B with(Nolock)
Where A.GroupCode = B.GroupCode 
		AND A.StateCode = B.StateCode
		AND A.UseF = 1






GO
