USE [STATS]
GO
/****** Object:  UserDefinedFunction [dbo].[DBA_fn_CreateIndexStmt]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/********************************************************************************

** Step 2 : 관련 함수 생성

********************************************************************************/

-- 인덱스 구문 생성

CREATE function [dbo].[DBA_fn_CreateIndexStmt](

       @statement VARCHAR(1000) ,

       @Equalitycols VARCHAR(1000) ,

       @InEqualitycols VARCHAR(1000) ,

       @Includedcols VARCHAR(1000)

)

RETURNS VARCHAR(5000)

AS

BEGIN

       DECLARE @str VARCHAR(5000)

       DECLARE @tablename VARCHAR(100)



    SET @tablename = SUBSTRING(

             SUBSTRING(@statement,CHARINDEX('.', @statement) + 1,LEN(@statement))

             , CHARINDEX('.',SUBSTRING(@statement,CHARINDEX('.',@statement) + 1,LEN(@statement))) + 1

             , LEN(SUBSTRING(@statement,CHARINDEX('.', @statement) + 1, LEN(@statement)))

       )

    SET @Includedcols = REPLACE(REPLACE(@Includedcols, ']', ''), '[', '')

    SET @Equalitycols = REPLACE(REPLACE(REPLACE(@Equalitycols, ']', ''),', ', '_'), '[', '')

    SET @InEqualitycols = REPLACE(REPLACE(REPLACE(@InEqualitycols, ']', ''),', ', '_'), '[', '')

    SET @str = 'ALTER Index Ix_' + REPLACE(REPLACE(@tablename, ']', ''),'[', '')

       SET @str =   CASE WHEN @Equalitycols IS NULL THEN @str

                                 ELSE ( @str + '_' + ISNULL(@Equalitycols, '') )

                           END

    SET @str = CASE WHEN @InEqualitycols IS NULL THEN @str

                    ELSE ( @str + '_' + ISNULL(@InEqualitycols, '') )

                END

    SET @str = @str + ' ON ' + @statement + '(' +

                           CASE WHEN @Equalitycols IS NULL THEN ''

                                 ELSE REPLACE(ISNULL(@Equalitycols, ''), '_', ',')

                           END +

                           CASE WHEN @InEqualitycols IS NULL THEN ''

                                 ELSE ',' + REPLACE(ISNULL(@InEqualitycols, ''), '_', ',')

                END + ')'

    SET @str = CASE WHEN @Includedcols IS NULL THEN @str

                                 ELSE @str + 'Include (' + ISNULL(@Includedcols, '') + ')'

                END

    RETURN @str

END
GO
/****** Object:  UserDefinedFunction [dbo].[DBA_fn_GetIndexCol]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 인덱스 컬럼 리턴

CREATE function [dbo].[DBA_fn_GetIndexCol](

       @index_id INT ,

       @tableid INT ,

       @isincluded BIT

)

RETURNS VARCHAR(3000)

AS

BEGIN

       RETURN ( STUFF ((

                           SELECT

                                 ',' + sc.name

                           FROM

                                 sys.columns sc,

                                 sys.index_columns sic,

                                 sys.indexes si

                           WHERE

                                 sc.column_id = sic.column_id

                                 AND si.index_id = sic.index_id

                                 AND sc.object_id = sic.object_id

                                 AND si.object_id = sic.object_id

                                 AND sic.is_included_column = @isincluded

                                 AND si.object_id = @tableid

                                 AND si.index_id = @index_id

                           FOR XML PATH('')

                    ),1,1,''

             )

       )

END
GO
/****** Object:  UserDefinedFunction [dbo].[DBA_fn_GetIndexSize]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 인덱스 Size 계산

CREATE function [dbo].[DBA_fn_GetIndexSize](

       @index_id INT ,

       @tableid INT

)

RETURNS FLOAT

AS

BEGIN

    RETURN (

             SELECT

                    SUM(CAST(reserved AS FLOAT)) * 8192 / (1024)

             FROM sysindexes

             WHERE

                    indid = @index_id

                    AND id = @tableid

       )

END
GO
/****** Object:  UserDefinedFunction [dbo].[fc_split_str_20191114]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fc_split_str_20191114]
(
  @cText varchar(2000),  -- 문자열
  @cDelimiter varchar(1), -- 구분자
  @iPosString int
) 
returns @split_temp table ( value varchar(2000) )
  
as 
begin  
  
  declare @iStartPos int, @iDelimiterPos int, @iCount int
  declare @tmpvar varchar(1000) -- 분리된 문자열 임시 저장변수
  
  set @iCount    = 0 -- 순서
  set @iStartPos   = 1 -- 구분문자 검색을 시작할 위치
  set @iDelimiterPos = 1 -- 구분문자 위치
  
  while (@iDelimiterPos > 0)
  begin
  
  set @iCount = @iCount + 1
   
    set @iDelimiterPos = charindex( @cDelimiter, @cText, @iStartPos )
  
    if @iDelimiterPos = 0 
      set @tmpvar = right( @cText, len(@cText)-@iStartPos+1 )
    else
      set @tmpvar = substring( @cText, @iStartPos, @iDelimiterPos-@iStartPos )
  
  
    if ( (len(@tmpvar)>0) and (@iPosString=@iCount) )
      insert into @split_temp values( @tmpvar )
  
    set @iStartPos = @iDelimiterPos +1 
  end
  
  return 
end
GO
/****** Object:  UserDefinedFunction [dbo].[FN_DATA_LOCAL]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*************************************************************************************
 *  단위 업무 명 : DATA_LOCAL 코드 가져오기
 *  작   성   자 : 이현석
 *  작   성   일 : 2019/11/14
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 :
 SELECT * FROM LAYOUTCLASS_TOT WITH(NOLOCK) WHERE HEADERCODE='1010000000' AND BRANCHCODE=16

 SELECT * FROM DBO.FN_DATA_LOCAL('16', '1010100000')
 *************************************************************************************/

CREATE FUNCTION [dbo].[FN_DATA_LOCAL]
(
	  @BRANCHCODE VARCHAR(MAX)
	  --,@gbn VARCHAR(MAX)
)
RETURNS @OUTPUTTABLE  TABLE (CodeNm1 varchar(MAX))
AS

BEGIN

	INSERT @OUTPUTTABLE (CodeNm1)
	SELECT Code_Name 
	  FROM data_local WITH(NOLOCK) 
	 WHERE Local_code = @BRANCHCODE;

RETURN
END




GO
/****** Object:  UserDefinedFunction [dbo].[FN_DATA_LOCAL_20191115]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[FN_DATA_LOCAL_20191115]
(
	-- Add the parameters for the function here
	@BRANCHCODE VARCHAR(MAX)
)
RETURNS VARCHAR(MAX)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @STR VARCHAR(MAX)
	   SET @STR=''
	SELECT @STR=Code_Name
	  FROM data_local WITH(NOLOCK) 
	 WHERE Local_code = @BRANCHCODE;

	-- Return the result of the function
	RETURN @STR

END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_DATA_UP]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*************************************************************************************
 *  단위 업무 명 : DATA_UP 코드 가져오기
 *  작   성   자 : 이현석
 *  작   성   일 : 2019/11/14
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 :
 SELECT * FROM LAYOUTCLASS_TOT WITH(NOLOCK) WHERE HEADERCODE='1010000000' AND BRANCHCODE=16

 SELECT * FROM DBO.FN_DATA_UP('16', '1010100000')
 *************************************************************************************/

CREATE FUNCTION [dbo].[FN_DATA_UP]
(
	  @BRANCHCODE VARCHAR(MAX)
	  --,@gbn VARCHAR(MAX)
)
RETURNS @OUTPUTTABLE  TABLE (CodeNm1 varchar(MAX))
AS

BEGIN

	INSERT @OUTPUTTABLE (CodeNm1)
	SELECT Code_Name
	  FROM data_UP WITH(NOLOCK) 
	 WHERE code = @BRANCHCODE;

RETURN
END




GO
/****** Object:  UserDefinedFunction [dbo].[FN_DATA_UP_20191115]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[FN_DATA_UP_20191115]
(
	-- Add the parameters for the function here
	@BRANCHCODE VARCHAR(MAX)
)
RETURNS VARCHAR(MAX)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @STR VARCHAR(MAX)
	   SET @STR=''
	SELECT @STR=Code_Name
	  FROM data_UP WITH(NOLOCK) 
	 WHERE code = @BRANCHCODE;

	-- Return the result of the function
	RETURN @STR

END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_IOPTNAME_Land]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 인터넷 옵션명 가져오기
 *  작   성   자 : 최 봉 기 (virtualman@mediawill.com)
 *  작   성   일 : 2013/10/21
 *  수   정   자 : 정헌수
 *  수   정   일 : 2014-08-04
 *  설        명 : 다량등록권등 추가
 *  수   정   자 : 이경덕
 *  수   정   일 : 2014-11-03
 *  설        명 : 베스트중개업소 상품 추가
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 : SELECT DBO.FN_IOPTNAME(2)
 --PP_ONLINE_GOODS_MASTER 참조
 *************************************************************************************/

CREATE function [dbo].[FN_IOPTNAME_Land](

  @OPT_CODE INT = 0

)
RETURNS VARCHAR(100)

AS

BEGIN

  DECLARE @RESULT VARCHAR(100)
  SET @RESULT = ''

  IF ISNULL(@OPT_CODE,0) > 0
    BEGIN
      SET @RESULT = CASE When @OPT_CODE IN (1,2,6) Then '프리미엄 프리미엄'
						When @OPT_CODE IN (3,4,7,13,20,21,22) Then '스피드 스피드'
						Else
						case @OPT_CODE
							WHEN 1 THEN '프리미엄'
							WHEN 2 THEN '프리미엄리스트'
							WHEN 3 THEN '스피드'
							WHEN 4 THEN '스피드리스트'
							--WHEN 5 THEN '검색우대'
							WHEN 6 THEN '프리미엄플러스'
							WHEN 7 THEN '스피드핫'
							WHEN 8 THEN '플래티넘'
							WHEN 9 THEN '탑스피드'
							WHEN 10 THEN '탑스피드리스트'
							WHEN 11 THEN '탑스피드핫'
							WHEN 12 THEN '스페셜플러스월셋방'
							WHEN 13 THEN '스페셜월셋방'
							WHEN 14 THEN '스페셜로고'
							WHEN 15 THEN '더블리스트업' --정액권
							WHEN 16 THEN '스페셜리스트'
							WHEN 17 THEN '파워리스트업' -- 정액권
							WHEN 18	THEN '브랜드관'
							WHEN 19	THEN '플래티넘플러스'
							WHEN 20	THEN '스페셜플러스상가임대'
							WHEN 21	THEN '스페셜플러스월세방'
							WHEN 22	THEN '스페셜상가임대'
							WHEN 23	THEN '일반정보리스트 다량등록권'
							WHEN 24	THEN '스피드 다량등록권'
							WHEN 25	THEN 'M리스트업' -- 정액권
							WHEN 26	THEN 'M리스트업플러스' -- 정액권
							WHEN 27	THEN '슈퍼더블리스트업'
							WHEN 28	THEN '슈퍼파워리스트업'
							WHEN 29	THEN '스피드알바'
							WHEN 30	THEN '스피드리스트알바'
							WHEN 31	THEN '베스트 지역 (시/군/구)'
							WHEN 32	THEN '베스트 지역 (읍/면/동)'
							WHEN 33	THEN '베스트 지하철'

							WHEN 34	THEN '스피드포인트'
							WHEN 35	THEN '스피드알바(결합)'
							WHEN 36	THEN '스피드리스트알바(결합)'

							WHEN 37	THEN '플래티넘플러스+스피드알바(결합)'
							WHEN 38	THEN '스피드+스피드알바(결합)'
							WHEN 39	THEN '스피드리스트+스피드리스트알바(결합)'
							WHEN 46	THEN '스페셜'
							WHEN 47 THEN 'M포커스'
							WHEN 67	THEN '스페셜 다량등록권' --부동산 2017-07-12
							WHEN 68	THEN 'M포커스 다량등록권' --부동산 2017-07-12
						End
            END
    END
  ELSE
    BEGIN
      SET @RESULT = NULL
    END

  RETURN @RESULT

END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Query_PlanOp]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------

SP명 : DBA.FN_Query_PlanOp

작성자 : 이 승연

작성일 :

설명 : XML 안에 어떤 물리적연산이 있는지 확인

입력변수:

출력변수:

사용방법:

--------------------------------------------------------------------------------------------

작성자          작성일자         설명

--------------------------------------------------------------------------------------------



--------------------------------------------------------------------------------------------*/

CREATE function [dbo].[FN_Query_PlanOp] ( @QueryXML XML )

RETURNS VARCHAR(MAX)

AS

BEGIN



    DECLARE @Result VARCHAR(MAX) = '' ;

    DECLARE @TMP_Result VARCHAR(MAX) = '' ;

    DECLARE @Tmp_QueryXML TABLE ( ShowPlan XML ) ;

    DECLARE @Tmp_QueryXMLOp TABLE ( PhysicalOp VARCHAR(500) ,

                                    EstimateRows FLOAT ) ;

    --SELECT @Result = STR(@statement_start_offset) + ' : ' + CAST(@QueryXML AS VARCHAR(MAX))



    INSERT  INTO @Tmp_QueryXML

    VALUES  ( @QueryXML ) ;





    WITH XMLNAMESPACES ( 'http://schemas.microsoft.com/sqlserver/2004/07/showplan' AS sp)

    INSERT INTO @Tmp_QueryXMLOp

    SELECT

            stmt.stmt_details .value ( '@PhysicalOp' , 'nvarchar(max)' ) AS PhysicalOp ,

            stmt.stmt_details .value ( '@EstimateRows' , 'nvarchar(max)' ) AS EstimateRows

    FROM    (

                SELECT  *

                FROM    @Tmp_QueryXML

            ) AS Result

            CROSS APPLY ShowPlan. nodes( '//sp:RelOp' ) AS stmt ( stmt_details)







    SELECT  @TMP_Result = @TMP_Result + ', (' + PhysicalOp + '/'

            + CAST (COUNT(PhysicalOp) AS VARCHAR(100)) + '/'

            + REPLACE(CONVERT (VARCHAR, CONVERT (MONEY, AVG(EstimateRows)), 1),

                      '.00', '') + ')'

    FROM    @Tmp_QueryXMLOp

    WHERE   PhysicalOp LIKE '%SCAN%'

    GROUP BY PhysicalOp



    SELECT  @Result = CASE WHEN @TMP_Result = '' THEN '-'

                           ELSE RIGHT(@TMP_Result, LEN(@TMP_Result) - 1)

                      END



        -- Return the result of the function

    RETURN @Result

END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_SPLIT]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FN_SPLIT](
 @sText  VARCHAR(max),  -- 대상 문자열
 @str   CHAR(1) = '|',       -- 구분기호(Default '|')
 @idx  INT                       -- 배열 인덱스


)
RETURNS VARCHAR(max)
AS
BEGIN
 DECLARE @word    varchar(max),    -- 반환할 문자
      @sTextData  VARCHAR(600),
      @num    SMALLINT;

 SET @num = 1;
 SET @str = LTRIM(RTRIM(@str));
 SET @sTextData = LTRIM(RTRIM(@sText)) + @str;

 WHILE @idx >= @num
 BEGIN


  IF CHARINDEX(@str, @sTextData) > 0
  BEGIN
   -- 문자열의 인덱스 위치의 요소를 반환
   SET @word = SUBSTRING(@sTextData, 1, CHARINDEX(@str, @sTextData) - 1);
   SET @word = LTRIM(RTRIM(@word));


   -- 반환된 문자는 버린후 좌우공백 제거
   SET @sTextData = LTRIM(RTRIM(RIGHT(@sTextData, LEN(@sTextData) - (LEN(@word) + 1))))
  END ELSE BEGIN
   SET @word = NULL;
  END
  SET @num = @num + 1
 END

 IF LEN(RTRIM(@word)) = 0
  BEGIN
    SET @word = NULL;
  END

 RETURN(@word);

END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_STRING_TO_TABLE]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 문자열을 SPLIT하여 테이블로 반환 (데이터 이관용)
 *  작   성   자 : 김성준
 *  작   성   일 : 2013/06/21
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 *  주 의  사 항 :
 *  사 용  소 스 :
 *  사 용  예 제 : SELECT * FROM DBO.FN_STRING_TO_TABLE('0,1,2,3,4', ',')
 *************************************************************************************/
CREATE function [dbo].[FN_STRING_TO_TABLE]
(
	@LIST VARCHAR(MAX)
	, @DELIMITER CHAR(1)
)
RETURNS @SHARDS TABLE (IDX INT, VALUE VARCHAR(8000))
WITH SCHEMABINDING
AS
BEGIN
	DECLARE @I INT, @J INT;
	SET @I = 0;
	SET @J = 1;

	WHILE @I <= LEN(@LIST)
	BEGIN
		DECLARE @N INT;
		SET @N = CHARINDEX(@DELIMITER, @LIST, @I);

		IF 0 = @N
		BEGIN
		   SET @N = LEN(@LIST);
		END

		INSERT INTO @SHARDS (IDX,VALUE) VALUES (@J, REPLACE(SUBSTRING(@LIST, @I, @N-@I+1), @DELIMITER, ''));
		SET @I = @N+1;
		SET @J = @J+1;
	END
	RETURN;
END
GO
/****** Object:  View [dbo].[CC_DEV_DASHBORD_CODE_TB_VI]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CC_DEV_DASHBORD_CODE_TB_VI]
AS
	SELECT C.*
				,CC1.CODE_NM AS CODE1_NM
				,CC2.CODE_NM AS CODE2_NM
				,CC3.CODE_NM AS CODE3_NM
				,CC4.CODE_NM AS CODE4_NM
	FROM CC_DEV_DASHBORD_CODE_TB AS C
	JOIN CC_DEV_DASHBORD_COMMON_CODE_TB AS CC1 ON CC1.C_GBN = 'CODE1' AND CC1.CODE = C.CODE1
	JOIN CC_DEV_DASHBORD_COMMON_CODE_TB AS CC2 ON CC2.C_GBN = 'CODE2' AND CC2.CODE = C.CODE2
	JOIN CC_DEV_DASHBORD_COMMON_CODE_TB AS CC3 ON CC3.C_GBN = 'CODE3' AND CC3.CODE = C.CODE3
	JOIN CC_DEV_DASHBORD_COMMON_CODE_TB AS CC4 ON CC4.C_GBN = 'CODE4' AND CC4.CODE = C.CODE4
GO
/****** Object:  View [dbo].[PP_AD_TB_VI]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_AD_TB_VI]
as



select * FROM PAPER_NEW.dbo.PP_AD_TB
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI]
as


select B.YYYY_MM_DD as DT ,A.ICODE,A.VAL,B.* FROM COPY_YYYYMMDD_TB B
LEFT OUTER JOIN PP_DASHBORDDATA_TB A  ON A.DT= B.YYYY_MM_DD
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_년누계]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select top 100 *FROM TMP_DATA_VI_누계

select top 100 cast(left(CONVERT(varchar(10),A.dt),8) +'-01' as datetime) FROM TMP_DATA A
*/



CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_년누계]
as


SELECT  S.YYYY_MM_DD   AS DT
,A.ICODE
,CAST(SUM(A.VAL) AS BIGINT) AS VAL
FROM COPY_YYYYMMDD_TB S
LEFT OUTER JOIN PP_DASHBORDDATA_TB A  ON
 S.YYYY_MM_DD  >= A.DT and A.dt >= cast(left(CONVERT(varchar(10),S.YYYY_MM_DD,120),5) +'01-01' as datetime)
 AND DATEPART(YEAR, S.YYYY_MM_DD) = DATEPART(YEAR, A.DT)
 GROUP BY S.YYYY_MM_DD ,A.ICODE
/*
SELECT A.DT  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS VAL
FROM PP_DASHBORDDATA_TB A
LEFT OUTER JOIN PP_DASHBORDDATA_TB B
ON		A.ICODE = B.ICODE
	AND A.DT >= B.DT and B.dt >= cast(left(CONVERT(varchar(10),A.dt,120),5) +'01-01' as datetime)
--	AND A.DT >= B.DT and YEAR(B.dt) >=  YEAR(a.dt)

GROUP BY  A.DT ,A.ICODE

*/
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_월간합]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_월간합]
as


SELECT MAX(B.MAXDT)  AS DT
,A.ICODE
,CAST(SUM(A.VAL) AS BIGINT) AS VAL
,B.GMONTH
FROM (SELECT MAX(YYYY_MM_DD) AS MAXDT,MIN(YYYY_MM_DD) AS MINDT ,GMONTH FROM COPY_YYYYMMDD_TB GROUP BY GMONTH) B
LEFT OUTER JOIN PP_DASHBORDDATA_TB_VI A  ON  B.GMONTH = A.GMONTH AND A.DT  BETWEEN B.MINDT AND MAXDT

GROUP BY  B.GMONTH,A.ICODE
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_월누계]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select top 100 *FROM TMP_DATA_VI_누계

select top 100 cast(left(CONVERT(varchar(10),A.dt),8) +'-01' as datetime) FROM TMP_DATA A
*/



CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_월누계]
as



SELECT  S.YYYY_MM_DD   AS DT
,A.ICODE
,CAST(SUM(A.VAL) AS BIGINT) AS VAL
FROM COPY_YYYYMMDD_TB S
LEFT OUTER JOIN PP_DASHBORDDATA_TB A  ON
 S.YYYY_MM_DD  >= A.DT and A.dt >= cast(left(CONVERT(varchar(10),A.dt,120),8) +'01' as datetime)
 AND DATEPART(YEAR, S.YYYY_MM_DD) = DATEPART(YEAR, A.DT)
 AND DATEPART(MONTH, S.YYYY_MM_DD) = DATEPART(MONTH, A.DT)
 GROUP BY S.YYYY_MM_DD ,A.ICODE


/*
SELECT A.DT  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS VAL
FROM PP_DASHBORDDATA_TB A
LEFT OUTER JOIN PP_DASHBORDDATA_TB B
ON		A.ICODE = B.ICODE
	AND A.DT >= B.DT and B.dt >= cast(left(CONVERT(varchar(10),A.dt,120),8) +'01' as datetime)
--	AND A.DT >= B.DT and YEAR(B.dt) >=  YEAR(a.dt)

GROUP BY  A.DT ,A.ICODE
*/
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_월마지막데이터]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select top 100 *FROM PP_DASHBORDDATA_TB_VI_월마지막데이터

*/



CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_월마지막데이터]
AS

	SELECT A.DT,B.ICODE ,B.VAL,A.DATA_DT  FROM (
		SELECT  MAX(A.YYYY_MM_DD) AS DT ,MAX(B.DT) AS DATA_DT,ICODE  FROM
		--COPY_YYYYMMDD_TB A
				(SELECT MAX(YYYY_MM_DD) AS YYYY_MM_DD  FROM COPY_YYYYMMDD_TB GROUP BY GMONTH) A
		LEFT OUTER JOIN 	PP_DASHBORDDATA_TB_VI B ON CONVERT(VARCHAR(7),A.YYYY_MM_DD,120) = CONVERT(VARCHAR(7),B.DT,120)
		GROUP BY CONVERT(VARCHAR(7),A.YYYY_MM_DD,120),ICODE
	)A  LEFT OUTER JOIN PP_DASHBORDDATA_TB B ON A.DATA_DT = B.DT  AND A.ICODE = B.ICODE
	WHERE A.ICODE IS NOT NULL
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_월마지막데이터_V2]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select top 100 *FROM PP_DASHBORDDATA_TB_VI_월마지막데이터_V2
go
select top 100 *FROM PP_DASHBORDDATA_TB_VI_월마지막데이터

*/



CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_월마지막데이터_V2]
AS

	SELECT A.DT,B.ICODE ,B.VAL,A.DATA_DT  FROM (
		SELECT  MAX(A.YYYY_MM_DD) AS DT ,MAX(B.DT) AS DATA_DT,ICODE  FROM
		--COPY_YYYYMMDD_TB A
				(SELECT MAX(YYYY_MM_DD) AS YYYY_MM_DD  FROM COPY_YYYYMMDD_TB GROUP BY GMONTH) A
		LEFT OUTER JOIN (
select DT,ICODE,VAL  FROM (
    SELECT  RANK() OVER (PARTITION BY  convert(varchar(7),DT,112),icode ORDER BY dt  DESC) RANKNO
    ,*
     FROM
	PP_DASHBORDDATA_TB B
) S
where rankno = 1
		) B ON CONVERT(VARCHAR(7),A.YYYY_MM_DD,120) = CONVERT(VARCHAR(7),B.DT,120)
		GROUP BY CONVERT(VARCHAR(7),A.YYYY_MM_DD,120),ICODE
	)A  LEFT OUTER JOIN PP_DASHBORDDATA_TB B ON A.DATA_DT = B.DT  AND A.ICODE = B.ICODE
	WHERE A.ICODE IS NOT NULL
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW1]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW1]
as


SELECT A.DT  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS WEEKSUM
,A.GWEEK1 as GWEEK
,A.DW
FROM PP_DASHBORDDATA_TB_VI A
LEFT OUTER JOIN PP_DASHBORDDATA_TB_VI B
ON		A.ICODE = B.ICODE
	AND A.GWEEK1 = B.GWEEK1
	AND A.DT >= B.DT
WHERE A.DW = 7

GROUP BY  A.DT ,A.GWEEK1,A.ICODE ,A.DW
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW2]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW2]
as


SELECT A.DT  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS WEEKSUM
,A.GWEEK2 as GWEEK
,A.DW
FROM PP_DASHBORDDATA_TB_VI A
LEFT OUTER JOIN PP_DASHBORDDATA_TB_VI B
ON		A.ICODE = B.ICODE
	AND A.GWEEK2 = B.GWEEK2
	AND A.DT >= B.DT
WHERE A.DW = 1

GROUP BY  A.DT ,A.GWEEK2,A.ICODE ,A.DW
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW3]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW3]
as


SELECT A.DT  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS WEEKSUM
,A.GWEEK3 as GWEEK
,A.DW
FROM PP_DASHBORDDATA_TB_VI A
LEFT OUTER JOIN PP_DASHBORDDATA_TB_VI B
ON		A.ICODE = B.ICODE
	AND A.GWEEK3 = B.GWEEK3
	AND A.DT >= B.DT
WHERE A.DW = 2

GROUP BY  A.DT ,A.GWEEK3,A.ICODE ,A.DW
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW4]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW4]
as


SELECT A.DT  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS WEEKSUM
,A.GWEEK4 as GWEEK
,A.DW
FROM PP_DASHBORDDATA_TB_VI A
LEFT OUTER JOIN PP_DASHBORDDATA_TB_VI B
ON		A.ICODE = B.ICODE
	AND A.GWEEK4 = B.GWEEK4
	AND A.DT >= B.DT
WHERE A.DW = 3

GROUP BY  A.DT ,A.GWEEK4,A.ICODE ,A.DW
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW5]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW5]
as


SELECT A.DT  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS WEEKSUM
,A.GWEEK5 as GWEEK
,A.DW
FROM PP_DASHBORDDATA_TB_VI A
LEFT OUTER JOIN PP_DASHBORDDATA_TB_VI B
ON		A.ICODE = B.ICODE
	AND A.GWEEK5 = B.GWEEK5
	AND A.DT >= B.DT
WHERE A.DW = 4

GROUP BY  A.DT ,A.GWEEK5,A.ICODE ,A.DW
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW6]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW6]
as


SELECT MAX(A.DT)  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS WEEKSUM
,A.GWEEK6 as GWEEK
,max(A.DW) as DW
FROM PP_DASHBORDDATA_TB_VI A
LEFT OUTER JOIN PP_DASHBORDDATA_TB_VI B
ON		A.ICODE = B.ICODE
	AND A.GWEEK6 = B.GWEEK6
	AND A.DT >= B.DT
WHERE A.DW = 5
GROUP BY  A.GWEEK6,A.ICODE
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW7]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_주간합_GW7]
as


SELECT A.DT  AS DT
,A.ICODE
,CAST(SUM(B.VAL) AS BIGINT) AS WEEKSUM
,A.GWEEK7 as GWEEK
,A.DW
FROM PP_DASHBORDDATA_TB_VI A
LEFT OUTER JOIN PP_DASHBORDDATA_TB_VI B
ON		A.ICODE = B.ICODE
	AND A.GWEEK7 = B.GWEEK7
	AND A.DT >= B.DT
WHERE A.DW = 6

GROUP BY  A.DT ,A.GWEEK7,A.ICODE ,A.DW
GO
/****** Object:  View [dbo].[PP_DASHBORDDATA_TB_VI_V2]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select  * FROM PP_DASHBORDDATA_TB_VI_V2
where dt between '2013-01-01' and '2013-01-31'
and icode IN( 1407,1406)
select  * FROM PP_DASHBORDDATA_TB_VI
where dt between '2013-01-01' and '2013-01-31'
and icode IN( 1407,1406)
*/



CREATE VIEW [dbo].[PP_DASHBORDDATA_TB_VI_V2]
as



select A.YYYY_MM_DD as DT , B.ICODE ,ISNULL(C.VAL,0) as VAL ,A.*
FROM COPY_YYYYMMDD_TB A INNER JOIN CC_DASHBORDCODE_TB B
ON 1=1
LEFT OUTER JOIN PP_DASHBORDDATA_TB C ON A.YYYY_MM_DD = C.DT AND B.iCode  = C.ICODE
GO
/****** Object:  View [dbo].[test_s_log_2019]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--인덱스 생성
--create index IX_test_20191201 ON test_20191201 (data_time)

CREATE view [dbo].[test_s_log_2019] as
   
    select 
            main.date m_date,
			main.time m_time,
			--count(main.time),
			main.a m_a,
			main.key_word m_key_word,
			main.local_code m_local,
			/*
            [dbo].[FN_SPLIT](local_code,',',1) 'local_code_01',
			[dbo].[FN_SPLIT](local_code,',',2) 'local_code_02',
			[dbo].[FN_SPLIT](local_code,',',3) 'local_code_03',
			[dbo].[FN_SPLIT](local_code,',',4) 'local_code_04',
		    [dbo].[FN_SPLIT](local_code,',',5) 'local_code_05',

            [dbo].[FN_SPLIT](up_job,',',1) 'up_job_01',
			[dbo].[FN_SPLIT](up_job,',',2) 'up_job_02',
			[dbo].[FN_SPLIT](up_job,',',3) 'up_job_03',
			[dbo].[FN_SPLIT](up_job,',',4) 'up_job_04',
		    [dbo].[FN_SPLIT](up_job,',',5) 'up_job_05',
			*/
			main.up_job m_up,
			count(main.key_word) key_cnt
	  from
	  (
            select 
				   substring(data_time,1,10) date,
				   substring(data_time,12,2) time,
				   a,
				   key_word,
				   local_code,
				   up_job
			  from test_20191201 with(nolock)
	   ) main
	 -- where main.date = ('2019-10-01') 
	--group by rollup (main.date, main.time, main.a, main.key_word, main.local_code, main.up_job)
	group by main.date, main.time, main.a, main.key_word, main.local_code, main.up_job
GO
/****** Object:  View [dbo].[test_s_log_2020_01]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--인덱스 생성
--create index IX_test_2020_01 ON test_tmp_202003_01 (date)
--create index IX_test_2020_02 ON test_tmp_202003_01 (time)

CREATE view [dbo].[test_s_log_2020_01] as 
 
        select 
               main.date 'date'
		     , main.time 'time'
			 , main.a    'a'
			 , main.key_word 'key_word'
			 , main.local_code 'local_code'
             , main.up_job   'up_job'
			 , count(main.key_word) 'key_cnt'
		  --into test_tmp_202003_01
	      from
		  ( select 
				   substring(A.data_time,1,10) date
				 , substring(A.data_time,12,2) time
				 , A.a
				 , A.key_word
				 , A.local_code
				 , A.up_job
			  from test_tmp_202003_00 A with(nolock)
	      ) main
		  	group by main.date, main.time, main.a, main.key_word, main.local_code, main.up_job

GO
/****** Object:  View [dbo].[test_s_log_2020_02]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--인덱스 생성
--create index IX_test_2020_01 ON test_tmp_202003_02 (date)
--create index IX_test_2020_02 ON test_tmp_202003_02 (time)

CREATE view [dbo].[test_s_log_2020_02] as 

   -- inSERT INTO test_tmp_202003_02 
        SELECT 
               A.date         'date'
			  ,A.time         'time'
			  ,A.a            'a'
			  ,A.key_word     'key_word'
			  ,a.local_code   'local_code'
			  ,B.GBN          'GBN_LOCAL'
			  ,B.CODE         'CODE_LOCAL'
			  ,B.CODE_NAME    'Name_LOCAL'
			  ,A.up_job       'UP_JOB'
			 , C.GBN          'GBN_JOB'
			 , C.CODE         'CODE_JOB'
			 , C.CODE_NAME    'Name_JOB'
             , A.key_cnt      'key_cnt'
     -- INTO test_tmp_202003_02
        FROM test_tmp_202003_01 A
   LEFT OUTER JOIN DATA_2020_01 B
          ON A.key_word = B.ORG_WORD
   LEFT OUTER JOIN UP_2020_04 C
          ON A.key_word = C.ORG_WORD
	GROUP BY A.DATE, A.TIME, A.a, A.key_word,a.local_code, b.gbn, b.code, b.CODE_NAME, A.UP_JOB, C.GBN, C.CODE, C.CODE_NAME, A.KEY_CNT
GO
/****** Object:  View [dbo].[test_s_log_20200104]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[test_s_log_20200104] as
   
  SELECT  A.날짜
        , A.시간
	    , A.유입채널
	    , A.키워드
		/*
	    , [dbo].[FN_DATA_LOCAL_20191115](A.지역코드_1) AS 지역코드_1
	    , [dbo].[FN_DATA_LOCAL_20191115](A.지역코드_2) AS 지역코드_2
	    , [dbo].[FN_DATA_LOCAL_20191115](A.지역코드_3) AS 지역코드_3
	    , [dbo].[FN_DATA_LOCAL_20191115](A.지역코드_4) AS 지역코드_4
	    , [dbo].[FN_DATA_LOCAL_20191115](A.지역코드_5) AS 지역코드_5
	    , [dbo].[FN_DATA_UP_20191115](A.업직종코드_1) AS 업직종코드_1
	    , [dbo].[FN_DATA_UP_20191115](A.업직종코드_2) AS 업직종코드_2
	    , [dbo].[FN_DATA_UP_20191115](A.업직종코드_3) AS 업직종코드_3
	    , [dbo].[FN_DATA_UP_20191115](A.업직종코드_4) AS 업직종코드_4
	    , [dbo].[FN_DATA_UP_20191115](A.업직종코드_5) AS 업직종코드_5
	    */
	    , A.지역코드_1
	    , A.지역코드_2
	    , A.지역코드_3
	    , A.지역코드_4
	    , A.지역코드_5
	    , A.업직종코드_1
	    , A.업직종코드_2
	    , A.업직종코드_3
	    , A.업직종코드_4
	    , A.업직종코드_5
	     , keyword_cnt 
      FROM TEST_DATA_20191201 A
  -- ORDER BY A.날짜, A.시간 ASC
GO
/****** Object:  View [dbo].[test_s_log_20200204]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[test_s_log_20200204] as
   
select 
       A.m_date
	 , A.m_time
	 , A.m_a
	 , A.m_key_word
    --  , A.local_code_01+','+A.local_code_02+','+A.local_code_03+','+A.local_code_04+','+A.local_code_05 AS LOCAL
     -- , A.up_job_01+','+A.up_job_02+','+A.up_job_03+','+A.up_job_04+','+A.up_job_05 AS JOB
	 , A.key_cnt
  -- INTO test_tmp_202001_03
  from test_tmp_202001_02 A WITH(NOLOCK)
GO
/****** Object:  View [dbo].[test_s_log_20200205]    Script Date: 2022-08-12 오후 3:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE view [dbo].[test_s_log_20200205] as
   
   SELECT 
               A.m_date       '날짜'
			  ,A.m_time       '시간'
			  ,A.m_a          '유입채널'
			  ,A.m_key_word   '키워드'
			  ,a.LOCAL        '지역코드'
			  ,B.GBN          'GBN_지역'
			  ,B.CODE         'CODE_LOCAL_지역'
			  ,B.CODE_NAME    'Name_LOCAL_지역'
			  ,A.JOB          '업직종'
			  ,C.GBN          'GBN_업직종'
			  ,C.CODE         'CODE_JOB_업직종'
			  ,C.CODE_NAME    'Name_JOB_업직종'
              ,A.key_cnt      '키워드 검색 수'
			  --,A.*
			  --,B.*
			  --,C.*
		-- into test_tmp_202001_04
        FROM test_tmp_202001_03 A
   LEFT JOIN DATA_2020_01 B
          ON A.m_key_word = B.ORG_WORD
   LEFT JOIN UP_2020_01 C
          ON A.m_key_word = C.ORG_WORD
GO
