USE [UNILINEDB_NEW]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getAddessRi]    Script Date: 2022-08-12 오후 3:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  FUNCTION [dbo].[fn_getAddessRi]  (
	@ADDRESS VARCHAR (70)
	,@METRO	 VARCHAR(30)
	,@CITY	 VARCHAR(30)
	,@DONG	 VARCHAR(30)
)
RETURNS VARCHAR(30)
AS
BEGIN

	DECLARE @RI  VARCHAR(30)
	SET @RI = ''

	SET	@RI = LTRIM(REPLACE(@ADDRESS, @METRO + ' ' + @CITY +  ' ' + @DONG, ''))
	SELECT	@RI = RTRIM(LTRIM(CASE WHEN CHARINDEX( ' ', @RI , 1) > 0 THEN LEFT( @RI , CHARINDEX( ' ', @RI , 1) ) ELSE @RI END ))

	IF right(@RI, 1) = '리'
		set	 @RI = @RI
	else
		set	 @RI = ''

	RETURN(@RI)
END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_SPLIT]    Script Date: 2022-08-12 오후 3:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_SPLIT](
 @sText  VARCHAR(max),  -- 대상 문자열
 @str   CHAR(1) = '|',       -- 구분기호(Default '|')
 @idx  INT                       -- 배열 인덱스


)
RETURNS VARCHAR(max)
AS
BEGIN
 DECLARE @word    varchar(max),    -- 반환할 문자
      @sTextData  VARCHAR(600),
      @num    SMALLINT;

 SET @num = 1;
 SET @str = LTRIM(RTRIM(@str));
 SET @sTextData = LTRIM(RTRIM(@sText)) + @str;

 WHILE @idx >= @num
 BEGIN


  IF CHARINDEX(@str, @sTextData) > 0
  BEGIN
   -- 문자열의 인덱스 위치의 요소를 반환
   SET @word = SUBSTRING(@sTextData, 1, CHARINDEX(@str, @sTextData) - 1);
   SET @word = LTRIM(RTRIM(@word));


   -- 반환된 문자는 버린후 좌우공백 제거
   SET @sTextData = LTRIM(RTRIM(RIGHT(@sTextData, LEN(@sTextData) - (LEN(@word) + 1))))
  END ELSE BEGIN
   SET @word = NULL;
  END
  SET @num = @num + 1
 END

 IF LEN(RTRIM(@word)) = 0
  BEGIN
    SET @word = NULL;
  END

 RETURN(@word);

END








GO
/****** Object:  UserDefinedFunction [dbo].[Fun_FindPhone]    Script Date: 2022-08-12 오후 3:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  FUNCTION [dbo].[Fun_FindPhone]  (@Phone varchar (100))
RETURNS varchar(100)
AS
BEGIN

DECLARE @StrPhone int
DECLARE @StrPhone2 int
DECLARE @PhoneText varchar(100)
Set @StrPhone = 1
Set @StrPhone2 = 0
Set @PhoneText = ''

	WHILE  (@StrPhone <= Len(@Phone))

		IF (SUBSTRING(@Phone,@StrPhone,1) <> '0'

			AND SUBSTRING(@Phone,@StrPhone,1) <> '1'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '2'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '3'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '4'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '5'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '6'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '7'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '8'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '9'
			AND SUBSTRING(@Phone,@StrPhone,1) <> '-'
			AND SUBSTRING(@Phone,@StrPhone,1) <> ',')
	
		BEGIN
				SET	@PhoneText = @PhoneText
				SET @StrPhone = @StrPhone + 1
			END
		ELSE
			BEGIN
				SET @PhoneText = @PhoneText + SUBSTRING(@Phone,@StrPhone,1)
				SET @StrPhone = @StrPhone + 1
			END

		RETURN(@PhoneText)
END




GO
/****** Object:  UserDefinedFunction [dbo].[Fun_Floor]    Script Date: 2022-08-12 오후 3:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE     FUNCTION [dbo].[Fun_Floor]  (@SubFloor varchar (20))
RETURNS varchar(10)
AS
BEGIN

DECLARE @StrFloor int
DECLARE @StrFloor2 int
DECLARE @SubFloorText varchar(10)
Set @StrFloor = 1
Set @StrFloor2 = 0
Set @SubFloorText = ''

	WHILE  (@StrFloor <= Len(@SubFloor))

		IF (ASCII(SUBSTRING(@SubFloor,@StrFloor,1)) BETWEEN 48 AND 57) OR SUBSTRING(@SubFloor,@StrFloor,1) = '-'
			BEGIN
				SET @SubFloorText = @SubFloorText + SUBSTRING(@SubFloor,@StrFloor,1)
				SET @StrFloor = @StrFloor + 1
			END
		ELSE
			BEGIN
				SET	@SubFloorText = @SubFloorText
				SET @StrFloor = @StrFloor + 1
			END
		RETURN(@SubFloorText)
END




GO
/****** Object:  UserDefinedFunction [dbo].[Fun_FloorGubun]    Script Date: 2022-08-12 오후 3:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE              FUNCTION [dbo].[Fun_FloorGubun]  (@FloorText varchar (30),@FloorGubun char(1))
RETURNS varchar(10)
AS
BEGIN
	DECLARE @OutFloor int
	DECLARE @Floor varchar(30)
	DECLARE @TotFloor varchar(30)

	IF LEN(@FloorText) > 15
		BEGIN
			SET @OutFloor = null
		END
	ELSE
		BEGIN
			IF PATINDEX('%/%',@FloorText) > 0 	--총층이 있는 경우
				BEGIN
					SET @Floor = LEFT(@FloorText,CHARINDEX('/',@FloorText) - 1)
					SET @TotFloor = RIGHT(@FloorText,LEN(@FloorText) - CHARINDEX('/',@FloorText))
				END
			ELSE
				BEGIN
					SET @Floor = @FloorText
					SET @TotFloor = null
				END
			
			IF   PATINDEX('%,%',@Floor) > 0 OR PATINDEX('%~%',@Floor) > 0 SET @Floor = null
			IF   PATINDEX('%,%',@TotFloor) > 0 OR PATINDEX('%~%',@TotFloor) > 0	 SET @TotFloor = null

			IF   PATINDEX('%반지%',@Floor) > 0 SET @Floor = 0
			IF   PATINDEX('%반지%',@TotFloor) > 0 SET @TotFloor = 0


			SET @Floor =  dbo.Fun_Floor(REPLACE(REPLACE(@Floor,'반지','0'),'지하','-'))		--숫자를 제외한 모든 값을 없앤다 (dbo.Fun_Floor)
			SET @TotFloor = dbo.Fun_Floor(REPLACE(REPLACE(@TotFloor,'반지','0'),'지하','-')) --숫자를 제외한 모든 값을 없앤다 (dbo.Fun_Floor)
			
			
			IF ISNUMERIC(@Floor) <> 1 OR @Floor = '-' OR @Floor > Convert(bigint,100)
				BEGIN				
					SET @Floor = null
				END
			IF ISNUMERIC(@TotFloor) <> 1 OR @TotFloor = '-' OR @TotFloor > Convert(bigint,100)
				BEGIN
					SET @TotFloor = null
				END
			IF @FloorGubun = '1' 
				BEGIN
				SET @OutFloor = Convert(int,@Floor)
					IF @OutFloor > Convert(int,@TotFloor) SET @OutFloor = @TotFloor
				END
			ELSE IF @FloorGubun = '2'
				BEGIN
				SET @OutFloor = Convert(int,@TotFloor)
					IF @OutFloor < Convert(int,@Floor) SET @OutFloor = @Floor
				END
		END
	
		RETURN(@OutFloor)
END









GO
/****** Object:  View [dbo].[vi_CallMaster]    Script Date: 2022-08-12 오후 3:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vi_CallMaster]
As
SELECT 	'3' As AdGbn ,
	Convert(varchar(2),A.InputBranch) + Convert(varchar(2),A.CloseBranch) + Convert(varchar(10), A.LineAdId) As AdId,AdOrderName,
    CASE WHEN B.Field4Value <> '' THEN B.Field4Value ELSE AdOrderName END As ShopNm,
	replace(Content,Char(26),'')  As Title ,
	replace(PhoneText,'$','') As Phone,
	A.ZipCode As Zipid,
	Left(A.ClassCode,2) As ClassCode1,
    Left(A.ClassCode,4) As ClassCode2,
    Left(A.ClassCode,6) As ClassCode3,
	Convert(varchar(20),'') As Metro,
	Convert(varchar(30),'') As City,
	Convert(varchar(10),'') As Dong,
	Convert(varchar(4),'') As WorkPlace1,
	EntryDate As RegDate,
	StartDate As RecStDate,
	EndDate As RecEnDate

--FROM OneDayLineAd As A with(Nolock) ,
FROM NEW_ONEDAYLINEAD_TB As A with(Nolock) ,
			dbo.NEW_ONEDAYLINEADDET_TB  As B with(Nolock),
			(Select LineAdId, InputBranch, Min(CloseBranch) As CloseBranch From NEW_ONEDAYLINEAD_TB
			Group By LineAdId, InputBranch)  C
WHERE A.LineAdId = C.LineAdId AND A.InputBranch = C.InputBranch AND A.CloseBranch = C.CloseBranch
		AND  A.LineAdId = B.LineAdId AND A.InputBranch = B.InputBranch AND A.CloseBranch = B.CloseBranch
		--AND  A.ClassCode Like '14%' AND A.CloseBranch = '70'
		AND  A.ClassCode Like '14%' AND A.CloseBranch IN (10,14,16,17,18,19,20,21,22,23,24,27,28,29,30,31,32,33,36,43,70)





GO
/****** Object:  View [dbo].[vi_CallMaster_Pusan]    Script Date: 2022-08-12 오후 3:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vi_CallMaster_Pusan]
As
SELECT 	'3' As AdGbn ,
	Convert(varchar(2),A.InputBranch) + Convert(varchar(2),A.CloseBranch) + Convert(varchar(10), A.LineAdId) As AdId,AdOrderName,
    CASE WHEN B.Field4Value <> '' THEN B.Field4Value ELSE AdOrderName END As ShopNm,
	replace(Content,Char(26),'')  As Title ,
	replace(PhoneText,'$','') As Phone,
	A.ZipCode As Zipid,
	Left(A.ClassCode,2) As ClassCode1,
    Left(A.ClassCode,4) As ClassCode2,
    Left(A.ClassCode,6) As ClassCode3,
	Convert(varchar(20),'') As Metro,
	Convert(varchar(30),'') As City,
	Convert(varchar(10),'') As Dong,
	Convert(varchar(4),'') As WorkPlace1,
	EntryDate As RegDate,
	StartDate As RecStDate,
	EndDate As RecEnDate

FROM OneDayLineAd As A with(Nolock) ,
			OneDayLineAdDet  As B with(Nolock),
			(Select LineAdId, InputBranch, Min(CloseBranch) As CloseBranch From OneDayLineAd
			Group By LineAdId, InputBranch)  C
WHERE A.LineAdId = C.LineAdId AND A.InputBranch = C.InputBranch AND A.CloseBranch = C.CloseBranch
		AND  A.LineAdId = B.LineAdId AND A.InputBranch = B.InputBranch AND A.CloseBranch = B.CloseBranch
		AND  A.ClassCode Like '14%' AND A.CloseBranch IN (25,49)




GO
