USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[BAT_OUT_MEMBER_ONEMONTH_AGO_KKO_PROC]    Script Date: 2021-11-03 오후 4:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 배치 작업 -> 벼룩시장 탈퇴 30일전 
 *  작   성   자 : 최 병찬
 *  작   성   일 : 2017/01/05
 *  설        명 : 
 *  주 의  사 항 :
 *  사 용  소 스 : 배치 스케줄
 *  사 용  예 제 : EXEC BAT_OUT_MEMBER_ONEMONTH_AGO_KKO_PROC
 *************************************************************************************/
CREATE PROC [dbo].[BAT_OUT_MEMBER_ONEMONTH_AGO_KKO_PROC]

AS

SET NOCOUNT ON

DECLARE @PHONE	varchar	(24)
DECLARE @MSG	nvarchar	(4000)
DECLARE @URL	varchar	(1000)
DECLARE @URL_BUTTON_TXT	varchar	(160)
DECLARE @FAIL_SUBJECT	varchar	(160)
DECLARE @FAIL_MSG	nvarchar	(4000)

DECLARE @PROFILE_KEY VARCHAR(100)     = '5c211bc7dcb8c6a1ee4c7b7ac865389e1115ffe2'
DECLARE @CALLBACK	varchar	(24)        = '0802690011'        -- 발신자번호
DECLARE @TEMPLATE_CODE	varchar	(10)  = 'AAFa083'           -- 카카오알림톡 템플릿 코드

SELECT @MSG = KKO_MSG
      ,@URL = URL
      ,@URL_BUTTON_TXT = URL_BUTTON_TXT
      ,@FAIL_SUBJECT = LMS_TITLE
      ,@FAIL_MSG = LMS_MSG
  FROM OPENQUERY(FINDDB1,'SELECT * FROM COMDB1.DBO.FN_GET_KKO_TEMPLATE_INFO(''MWFa083'')') 
  
  
INSERT FINDDB1.COMDB1.DBO.KKO_MSG
      (STATUS, PHONE, CALLBACK, REQDATE, MSG, TEMPLATE_CODE, PROFILE_KEY, URL, URL_BUTTON_TXT, FAILED_TYPE, FAILED_SUBJECT, FAILED_MSG, ETC1)
SELECT 
       1 AS [STATUS]
      ,REPLACE(A.HPHONE,'-','') AS PHONE
      ,@CALLBACK AS CALLBACK
      ,GETDATE() AS REQDATE
      ,REPLACE(REPLACE(REPLACE(@MSG,'#{ID}',B.USERID) , '#{한달후/3일후}','한달후'),'#{yyyymmdd}',REPLACE(CONVERT(VARCHAR(10),DATEADD(YEAR, 1, ISNULL(B.LAST_LOGIN_DT, B.JOIN_DT)) , 111), '/', '-')) AS MSG
      ,@TEMPLATE_CODE AS TEMPLATE_CODE
      ,@PROFILE_KEY AS PROFILE_KEY
      ,@URL AS URL
      ,@URL_BUTTON_TXT AS URL_BUTTON_TXT
      ,'LMS' AS FAILED_TYPE
      ,@FAIL_SUBJECT AS FAILED_SUBJECT
      ,REPLACE(REPLACE(REPLACE(@FAIL_MSG,'#{ID}',B.USERID) , '#{한달후/3일후}','한달후'),'#{yyyymmdd}',REPLACE(CONVERT(VARCHAR(10),DATEADD(YEAR, 1, ISNULL(B.LAST_LOGIN_DT, B.JOIN_DT)) , 111), '/', '-')) AS FAILED_MSG
      ,'FINDALL' AS ETC1       
  FROM CST_REST_MASTER AS A WITH (NOLOCK)
  JOIN CST_MASTER AS B WITH (NOLOCK) ON A.CUID = B.CUID
 WHERE B.OUT_YN='N'
   AND B.REST_YN='Y'
   AND DATEADD(YEAR, 2, CONVERT(VARCHAR(10), ISNULL(LAST_LOGIN_DT,JOIN_DT), 111)) = DATEADD(MONTH, 1, CONVERT(VARCHAR(10), GETDATE(), 111))
   AND A.HPHONE IS NOT NULL
GO
