USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[SP_COMPANY_AUTO_UPDATE]    Script Date: 2021-11-03 오후 4:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COMPANY_AUTO_UPDATE]
/*************************************************************************************
 *  단위 업무 명 : 기업 부가 정보 입력 및 수정,이력
 *  작   성   자 : J&J
 *  작   성   일 : 2016-07-25
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :
 * RETURN(0) -- INSERT
 * RETURN(0)  -- UPDATE
 * RETURN(500)   -- 에러, COM_ID 가 복수이거나..
 * DECLARE @RET INT
 * EXEC @RET=SP_COMPANY_AUTO_UPDATE 1231412,'USERID','MANAGER_NM','MANAGER_PHONE','MANAGER_EMAIL',
 *									'MANAGER_NUMBER','MANAGER_IMG_F','MANAGER_IMG_B','MANAGER_KAKAO_ID'
 * SELECT @RET
 *************************************************************************************/
@COM_ID	INT,
@USERID	varchar(50),
@MANAGER_NM	varchar(30),
@MANAGER_PHONE	varchar(15),
@MANAGER_EMAIL	varchar(50),
@MANAGER_NUMBER	varchar(20),
@MANAGER_IMG_F	varchar(200),
@MANAGER_IMG_B	varchar(200),
@MANAGER_KAKAO_ID	varchar(50)
AS 
	SET NOCOUNT ON;
	DECLARE @ID_COUNT BIT
		
		SET @ID_COUNT = 0
		SELECT @ID_COUNT = COUNT(COM_ID) FROM CST_COMPANY_AUTO WHERE COM_ID = @COM_ID
		
		IF @ID_COUNT = 0
		BEGIN
			INSERT INTO CST_COMPANY_AUTO (COM_ID, USERID, MANAGER_NM, MANAGER_PHONE, MANAGER_EMAIL, MANAGER_NUMBER, MANAGER_IMG_F,
										 MANAGER_IMG_B, MANAGER_KAKAO_ID, MOD_DT)
								  VALUES (@COM_ID, @USERID, @MANAGER_NM, @MANAGER_PHONE, @MANAGER_EMAIL, @MANAGER_NUMBER, @MANAGER_IMG_F,
										 @MANAGER_IMG_B, @MANAGER_KAKAO_ID, GETDATE())
			INSERT INTO CST_COMPANY_AUTO_HISTORY (COM_ID, USERID, MOD_ID, MOD_DT, MANAGER_NM, MANAGER_PHONE, MANAGER_EMAIL, MANAGER_NUMBER, MANAGER_IMG_F,
										 MANAGER_IMG_B, MANAGER_KAKAO_ID) 
								  VALUES (@COM_ID, @USERID, @USERID, GETDATE(), @MANAGER_NM, @MANAGER_PHONE, @MANAGER_EMAIL, @MANAGER_NUMBER, @MANAGER_IMG_F,
										 @MANAGER_IMG_B, @MANAGER_KAKAO_ID)
			RETURN(100) -- INSERT
		END
		ELSE IF @ID_COUNT = 1
		BEGIN
			UPDATE CST_COMPANY_AUTO SET USERID = @USERID, MANAGER_NM = @MANAGER_NM, MANAGER_PHONE = @MANAGER_PHONE,
										MANAGER_EMAIL = @MANAGER_EMAIL, MANAGER_NUMBER = @MANAGER_NUMBER,
										MANAGER_IMG_F = @MANAGER_IMG_F, MANAGER_IMG_B = @MANAGER_IMG_B, MANAGER_KAKAO_ID = @MANAGER_KAKAO_ID, MOD_DT = GETDATE()
										WHERE COM_ID = @COM_ID
			INSERT INTO CST_COMPANY_AUTO_HISTORY (COM_ID, USERID, MOD_ID, MOD_DT, MANAGER_NM, MANAGER_PHONE, MANAGER_EMAIL, MANAGER_NUMBER, MANAGER_IMG_F,
										 MANAGER_IMG_B, MANAGER_KAKAO_ID) 
								  VALUES (@COM_ID, @USERID, @USERID, GETDATE(), @MANAGER_NM, @MANAGER_PHONE, @MANAGER_EMAIL, @MANAGER_NUMBER, @MANAGER_IMG_F,
										 @MANAGER_IMG_B, @MANAGER_KAKAO_ID)
			RETURN(0)  -- UPDATE
		END
		ELSE
		BEGIN
			RETURN(500)   -- 에러 COM_ID 가 복수이거나..
		END
GO
