USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[_BAT_REST_MEMBER_THREEDAY_AGO_LMS_PROC]    Script Date: 2021-11-03 오후 4:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 배치 작업 -> 벼룩시장 휴면 처리 3일전 SMS 발송
 *  작   성   자 : 최 병찬
 *  작   성   일 : 2016/09/30
 *  설        명 : 
 *  주 의  사 항 :
 *  사 용  소 스 : 배치 스케줄
 *  사 용  예 제 : EXEC BAT_REST_MEMBER_THREEDAY_AGO_LMS_PROC
 *************************************************************************************/
CREATE PROC [dbo].[_BAT_REST_MEMBER_THREEDAY_AGO_LMS_PROC]

AS

SET NOCOUNT ON

DECLARE @LMS_MSG VARCHAR(4000)
DECLARE @LMS_TITLE VARCHAR(160)
DECLARE @KKO_MSG VARCHAR(4000)
DECLARE @URL_BUTTON_TXT VARCHAR(160)
DECLARE @URL VARCHAR(1000)

DECLARE @CALLBACK  VARCHAR(14)
SET @CALLBACK='0802690011'

SELECT @LMS_MSG = LMS_MSG, @LMS_TITLE = LMS_TITLE, @KKO_MSG= KKO_MSG, @URL_BUTTON_TXT = URL_BUTTON_TXT, @URL = URL FROM OPENQUERY(FINDDB1,'SELECT * FROM COMDB1.DBO.FN_GET_KKO_TEMPLATE_INFO(''MWsms03'')') 

INSERT FINDDB1.COMDB1.DBO.MMS_MSG
      (REQDATE, STATUS, TYPE, PHONE, CALLBACK, SUBJECT, MSG, FILE_CNT, ETC1)
SELECT 
       GETDATE()
      ,'1'
      ,'0'
      ,REPLACE(ISNULL(A.HPHONE,''),'-','')
      ,@CALLBACK
      ,@LMS_TITLE
      ,REPLACE(REPLACE(REPLACE(@LMS_MSG,'#{ID}',A.USERID) , '#{한달후/3일후}','3일후'),'#{yyyymmdd}',REPLACE(CONVERT(VARCHAR(10),DATEADD(YEAR, 1, ISNULL(A.LAST_LOGIN_DT, A.JOIN_DT)) , 111), '/', '-'))
      ,'1'
      ,'FINDALL'
  FROM DBO.CST_MASTER AS A WITH(NOLOCK)
  WHERE A.REST_YN = 'N'		--휴면회원 제외
    AND A.BAD_YN = 'N' 		--불량회원 제외
    AND A.OUT_YN = 'N'   --회원탈퇴 제외
    AND (
          (A.LAST_LOGIN_DT < DATEADD(DD,3,DATEADD(YY,-1,CONVERT(VARCHAR(10),GETDATE(),120))) AND A.LAST_LOGIN_DT >= DATEADD(DD,2,DATEADD(YY,-1,CONVERT(VARCHAR(10),GETDATE(),120))) )
          OR 
          (A.LAST_LOGIN_DT IS NULL AND A.JOIN_DT < DATEADD(DD,3,DATEADD(YY,-1,CONVERT(VARCHAR(10),GETDATE(),120))) AND A.JOIN_DT >= DATEADD(DD,2,DATEADD(YY,-1,CONVERT(VARCHAR(10),GETDATE(),120))) )
        )
GO
