USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[SP_MSG_SECTION_AD]    Script Date: 2021-11-03 오후 4:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_MSG_SECTION_AD]
/*************************************************************************************
 *  단위 업무 명 : 마케팅ㆍ이벤트 수신 동의
 *  작   성   자 : J&J
 *  작   성   일 : 2016-07-25
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 :  구분은 필히 , 로 한다.
 *************************************************************************************/
@CUID INT,
@SMS CHAR(1),
@S_SECTION VARCHAR(50),
@EMAIL CHAR(1),  
@M_SECTION VARCHAR(50),  
@TM CHAR(1),  
@T_SECTION VARCHAR(50)
AS 


--미수신 섹션 삭제
  DELETE CST_MSG_SECTION
	--SELECT *
	  FROM CST_MSG_SECTION AS A
	  LEFT JOIN 
	  (
	  SELECT CUID,  SECTION_CD, MEDIA_CD, AGREE_DT FROM  -- 저장
	    (SELECT @CUID AS CUID ,rtrim(LTRIM(VALUE)) AS SECTION_CD, @SMS AS MEDIA_CD, GETDATE() AS AGREE_DT FROM dbo.FN_STRING_TO_TABLE(@S_SECTION,',')
		    UNION ALL  -- SMS 
	    SELECT @CUID AS CUID , rtrim(LTRIM(VALUE)) AS SECTION_CD, @EMAIL AS MEDIA_CD, GETDATE() AS AGREE_DT FROM dbo.FN_STRING_TO_TABLE(@M_SECTION,',')
		    UNION ALL -- MAIL	
	    SELECT @CUID AS CUID , rtrim(LTRIM(VALUE)) AS SECTION_CD, @TM AS MEDIA_CD, GETDATE() AS AGREE_DT FROM dbo.FN_STRING_TO_TABLE(@T_SECTION,',')
		    --TM
	    ) AS AA WHERE AA.MEDIA_CD IS NOT NULL AND AA.SECTION_CD IS NOT NULL AND AA.MEDIA_CD != '' AND AA.SECTION_CD !=''
	  ) AS B ON A.CUID = B.CUID AND A.SECTION_CD = B.SECTION_CD AND A.MEDIA_CD = B.MEDIA_CD
	WHERE A.CUID = @CUID AND B.CUID IS NULL

--신규 수신 섹션 추가
  INSERT INTO CST_MSG_SECTION (CUID,  SECTION_CD, MEDIA_CD, AGREE_DT)
	SELECT A.CUID, A.SECTION_CD, A.MEDIA_CD, A.AGREE_DT
	  FROM 
	  (
	  SELECT CUID,  SECTION_CD, MEDIA_CD, AGREE_DT FROM  -- 저장
	   (SELECT @CUID AS CUID ,rtrim(LTRIM(VALUE)) AS SECTION_CD, @SMS AS MEDIA_CD, GETDATE() AS AGREE_DT FROM dbo.FN_STRING_TO_TABLE(@S_SECTION,',')
		    UNION ALL  -- SMS 
	    SELECT @CUID AS CUID , rtrim(LTRIM(VALUE)) AS SECTION_CD, @EMAIL AS MEDIA_CD, GETDATE() AS AGREE_DT FROM dbo.FN_STRING_TO_TABLE(@M_SECTION,',')
		    UNION ALL -- MAIL	
	    SELECT @CUID AS CUID , rtrim(LTRIM(VALUE)) AS SECTION_CD, @TM AS MEDIA_CD, GETDATE() AS AGREE_DT FROM dbo.FN_STRING_TO_TABLE(@T_SECTION,',')
		    --TM
	    ) AS AA WHERE AA.MEDIA_CD IS NOT NULL AND AA.SECTION_CD IS NOT NULL AND AA.MEDIA_CD != '' AND AA.SECTION_CD !=''
	  ) AS A
	  LEFT JOIN CST_MSG_SECTION AS B WITH(NOLOCK) ON A.CUID = B.CUID AND A.SECTION_CD = B.SECTION_CD AND A.MEDIA_CD = B.MEDIA_CD
	WHERE A.CUID = @CUID AND B.CUID IS NULL

-- 섹션 히스토리
  INSERT INTO CST_MSG_SECTION_HIST (CUID,  SECTION_CD, MEDIA_CD, AGREE_DT, HISTORY_DT, HISTORY_ID)
	SELECT CUID, SECTION_CD, MEDIA_CD, AGREE_DT, GETDATE(), ISNULL(A.HISTORY_ID,0) +1
	  FROM CST_MSG_SECTION MS 
	   outer apply
		  ( 
			 select top 1 HISTORY_ID from CST_MSG_SECTION_HIST 
			 where CUID = MS.CUID
			 order by HISTORY_DT desc
		  ) A 
	WHERE CUID = @CUID 
/*
EXEC SP_MSG_SECTION_AD_CBC  10748927 , 'S' , 'S101' , 'M', 'S102,S103,S104,S105', 'T', 'H001,S101'

*/
GO
