USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[SP_COMPANY_JOB_UPDATE]    Script Date: 2021-11-03 오후 4:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COMPANY_JOB_UPDATE]
/*************************************************************************************
 *  단위 업무 명 : 기업 부가 정보 입력 및 수정, 이력
 *  작   성   자 : J&J
 *  작   성   일 : 2016-07-25
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 : 
 * RETURN(0) -- INSERT
 * RETURN(0)  -- UPDATE
 * RETURN(500)   -- 에러, COM_ID 가 복수이거나..
 * DECLARE @RET INT
 * EXEC @RET=SP_COMPANY_JOB_UPDATE 123123,'USERID','MANAGER_NM','MANAGER_PHONE','MANAGER_EMAIL'
									,'BIZ_CD','BIZ_CLASS','EMP_CNT','MAIN_BIZ','LOGO_IMG',
									'EX_IMAGE_1','EX_IMAGE_2','EX_IMAGE_3','EX_IMAGE_4'
 * SELECT @RET
 *************************************************************************************/
@COM_ID	INT,
@USERID	varchar(50),
@MANAGER_NM	varchar(30),
@MANAGER_PHONE	varchar(15),
@MANAGER_EMAIL	varchar(50),
@BIZ_CD		varchar(100),
@BIZ_CLASS	varchar(6),
@EMP_CNT	varchar(7),
@MAIN_BIZ	varchar(100),
@LOGO_IMG	varchar(200),
@EX_IMAGE_1	varchar(200),
@EX_IMAGE_2	varchar(200),
@EX_IMAGE_3	varchar(200),
@EX_IMAGE_4	varchar(200)
AS 
	SET NOCOUNT ON;
	DECLARE @CUID INT, @ID_COUNT BIT
		SET @ID_COUNT = 0
		SELECT @ID_COUNT = COUNT(COM_ID) FROM CST_COMPANY_JOB WHERE COM_ID = @COM_ID
		
		IF @ID_COUNT = 0
		BEGIN
			INSERT INTO CST_COMPANY_JOB (COM_ID, USERID, MANAGER_NM, MANAGER_PHONE, MANAGER_EMAIL, BIZ_CD, BIZ_CLASS, EMP_CNT, MAIN_BIZ,
										 LOGO_IMG, EX_IMAGE_1, EX_IMAGE_2, EX_IMAGE_3, EX_IMAGE_4, MOD_DT)
								  VALUES (@COM_ID, @USERID, @MANAGER_NM, @MANAGER_PHONE, @MANAGER_EMAIL, @BIZ_CD, @BIZ_CLASS, @EMP_CNT, @MAIN_BIZ,
										 @LOGO_IMG, @EX_IMAGE_1, @EX_IMAGE_2, @EX_IMAGE_3, @EX_IMAGE_4, GETDATE())
			INSERT INTO CST_COMPANY_JOB_HISTORY (COM_ID, USERID, MOD_ID, MOD_DT, MANAGER_NM, MANAGER_PHONE, MANAGER_EMAIL, BIZ_CD, BIZ_CLASS, EMP_CNT, MAIN_BIZ,
										 LOGO_IMG, EX_IMAGE_1, EX_IMAGE_2, EX_IMAGE_3, EX_IMAGE_4)
								  VALUES (@COM_ID, @USERID,@USERID, GETDATE(), @MANAGER_NM, @MANAGER_PHONE, @MANAGER_EMAIL, @BIZ_CD, @BIZ_CLASS, @EMP_CNT, @MAIN_BIZ,
										 @LOGO_IMG, @EX_IMAGE_1, @EX_IMAGE_2, @EX_IMAGE_3, @EX_IMAGE_4)
			RETURN(0) -- INSERT
		END
		ELSE IF @ID_COUNT = 1
		BEGIN
			UPDATE CST_COMPANY_JOB SET USERID = @USERID, MANAGER_NM = @MANAGER_NM, MANAGER_PHONE = @MANAGER_PHONE,
										MANAGER_EMAIL = @MANAGER_EMAIL, BIZ_CD = @BIZ_CD, BIZ_CLASS = @BIZ_CLASS, EMP_CNT = @EMP_CNT,
										MAIN_BIZ = @MAIN_BIZ, LOGO_IMG = @LOGO_IMG, EX_IMAGE_1 =  @EX_IMAGE_1, 
										EX_IMAGE_2 = @EX_IMAGE_2, EX_IMAGE_3 = @EX_IMAGE_3, EX_IMAGE_4 = @EX_IMAGE_4 , MOD_DT = GETDATE() WHERE COM_ID = @COM_ID
			INSERT INTO CST_COMPANY_JOB_HISTORY (COM_ID, USERID,  MOD_ID, MOD_DT, MANAGER_NM, MANAGER_PHONE, MANAGER_EMAIL, BIZ_CD, BIZ_CLASS, EMP_CNT, MAIN_BIZ,
										 LOGO_IMG, EX_IMAGE_1, EX_IMAGE_2, EX_IMAGE_3, EX_IMAGE_4)
								  VALUES (@COM_ID, @USERID,  @USERID, GETDATE(), @MANAGER_NM, @MANAGER_PHONE, @MANAGER_EMAIL, @BIZ_CD, @BIZ_CLASS, @EMP_CNT, @MAIN_BIZ,
										 @LOGO_IMG, @EX_IMAGE_1, @EX_IMAGE_2, @EX_IMAGE_3, @EX_IMAGE_4)
			RETURN(0)  -- UPDATE
		END
		ELSE
		BEGIN
			RETURN(500)   -- 에러, COM_ID 가 복수이거나..
		END
GO
