USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[SP_COMPANY_LAND_UPDATE]    Script Date: 2021-11-03 오후 4:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COMPANY_LAND_UPDATE]
/*************************************************************************************
 *  단위 업무 명 : 기업 부가 정보 입력 및 수정, 이력
 *  작   성   자 : J&J
 *  작   성   일 : 2016-07-25
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 : 
 * RETURN(0) -- INSERT
 * RETURN(0)  -- UPDATE
 * RETURN(500)   -- 에러, COM_ID 가 복수이거나..
 * DECLARE @RET INT
 * EXEC @RET=SP_COMPANY_LAND_UPDATE 132132,'USERID','LAND_CLASS_CD','REG_NUMBER','INTRO',
								    'LOGO_IMG','PF_IMG','DESCRIPT','PROFILE',1
 * SELECT @RET
 *************************************************************************************/
@COM_ID	INT,
@USERID varchar(50),
@LAND_CLASS_CD	varchar(30),
@REG_NUMBER	varchar(50),
@INTRO	varchar(50),
@LOGO_IMG	varchar(20),
@PF_IMG	varchar(200),
@DESCRIPT	varchar(200),
@PROFILE	varchar(50),
@ETCINFO_SYNC	TINYINT
AS 
	SET NOCOUNT ON;
	DECLARE @CUID INT, @ID_COUNT BIT
		SET @ID_COUNT = 0
		SELECT @ID_COUNT = COUNT(COM_ID) FROM CST_COMPANY_LAND WHERE COM_ID = @COM_ID

		IF @ID_COUNT = 0
		BEGIN
			INSERT INTO CST_COMPANY_LAND (COM_ID, USERID, LAND_CLASS_CD, REG_NUMBER, INTRO, LOGO_IMG, PF_IMG, DESCRIPT, PROFILE, ETCINFO_SYNC, MOD_DT)
								  VALUES (@COM_ID, @USERID, @LAND_CLASS_CD, @REG_NUMBER, @INTRO, @LOGO_IMG, @PF_IMG, @DESCRIPT, @PROFILE, @ETCINFO_SYNC, GETDATE())
			
			INSERT INTO CST_COMPANY_LAND_HISTORY (COM_ID, USERID,MOD_ID, MOD_DT, LAND_CLASS_CD, REG_NUMBER, INTRO, LOGO_IMG, PF_IMG, DESCRIPT, PROFILE, ETCINFO_SYNC)
								  VALUES (@COM_ID, @USERID, @USERID, GETDATE(), @LAND_CLASS_CD, @REG_NUMBER, @INTRO, @LOGO_IMG, @PF_IMG, @DESCRIPT, @PROFILE, @ETCINFO_SYNC)		
			RETURN(0) -- INSERT
		END
		ELSE IF @ID_COUNT = 1
		BEGIN
			UPDATE CST_COMPANY_LAND SET LAND_CLASS_CD = @LAND_CLASS_CD, REG_NUMBER = @REG_NUMBER, INTRO = @INTRO,
										LOGO_IMG = @LOGO_IMG, PF_IMG = @PF_IMG, DESCRIPT = @DESCRIPT, PROFILE = @PROFILE,
										ETCINFO_SYNC = @ETCINFO_SYNC , MOD_DT = GETDATE() WHERE COM_ID = @COM_ID
			INSERT INTO CST_COMPANY_LAND_HISTORY (COM_ID, USERID, MOD_ID, MOD_DT, LAND_CLASS_CD, REG_NUMBER, INTRO, LOGO_IMG, PF_IMG, DESCRIPT, PROFILE, ETCINFO_SYNC)
								  VALUES (@COM_ID, @USERID,  @USERID, GETDATE(), @LAND_CLASS_CD, @REG_NUMBER, @INTRO, @LOGO_IMG, @PF_IMG, @DESCRIPT, @PROFILE, @ETCINFO_SYNC)		
			RETURN(200)  -- UPDATE
		END ELSE
		BEGIN
			RETURN(500)
		END
GO
