USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[GET_AD_MM_OUT_DETAIL_PROC]    Script Date: 2021-11-03 오후 4:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_AD_MM_OUT_DETAIL_PROC]
       @CUID    INT
AS

SET NOCOUNT ON

SELECT OUT_APPLY_DT
     , OUT_CAUSE
     , SECTION_CD
  FROM CST_OUT_MASTER AS C WITH (NOLOCK)
 WHERE CUID = @CUID
GO
