USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[BAT_MM_MEMBER_STAT_PROC]    Script Date: 2021-11-03 오후 4:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*************************************************************************************
 *  단위 업무 명 : 회원통계 > 일별누적(신규,탈퇴,누적)
                  -- 확인결과 (2021-07-12)
                  -- [신문] > [온라인사업실 대시보드] > [데이터 관리] > 회원(벼룩시장)
 *  작   성   자 : 여운영
 *  작   성   일 : 2015/09/18
 *  수   정   자 : 배진용
 *  수   정   일 : 2021-01-04(회원가입대행 추가)
 *  설        명 : 
 *  주 의  사 항 :
 *  사 용  소 스 : 
 *  사 용  예 제 : 
 EXEC BAT_MM_MEMBER_STAT_PROC
 SELECT * FROM [MEMBER].[dbo].[MM_STAT_MEMBER_TB]

 BAT_MM_MEMBER_STAT_PROC '2020-06-27'
 *************************************************************************************/
CREATE PROC [dbo].[BAT_MM_MEMBER_STAT_PROC]

  @PRE_DT DATETIME = NULL

AS 
  
BEGIN

  SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
  SET NOCOUNT ON


	--DECLARE @PRE_DT DATETIME	/* 전날 일자 */
  IF @PRE_DT IS NULL
	  SET @PRE_DT = CONVERT(CHAR(10),DATEADD(D,-1,GETDATE()),120)

/* #### 탈퇴 대상 #### */
	SELECT CUID
	  INTO #TEMP_OUT_CUID
	  FROM MWMEMBER.DBO.CST_OUT_MASTER WITH(NOLOCK)
	 WHERE OUT_APPLY_DT > @PRE_DT --AND OUT_PROC_DT IS NULL
	 

/* #### 탈퇴회원의 개인/기업 구분 #### */
	SELECT A.CUID
       , A.MEMBER_CD 
    INTO #TEMP_OUT_CUID_TG2
	  FROM ( SELECT CUID
                , MEMBER_CD 
             FROM MWMEMBER.DBO.CST_MASTER WITH(NOLOCK) 
            WHERE CUID IN (SELECT CUID FROM #TEMP_OUT_CUID)
--		UNION
--		SELECT CUID, MEMBER_CD FROM MWMEMBER.DBO.CST_REST_MASTER WHERE CUID IN (SELECT CUID FROM #TEMP_OUT_CUID)
	) AS A
	JOIN #TEMP_OUT_CUID B ON A.CUID = B.CUID

	--SELECT * FROM #TEMP_OUT_CUID_TG2

/* #### 신규가입 #### */
	-- 2021-01-04 회원가입대행 AGENCY_YN 컬럼 추가
	SELECT * 
    INTO #NEW_JOIN 
	  FROM ( SELECT DISTINCT CONVERT(VARCHAR(10), JOIN_DT, 120) AS DT
                , MEMBER_CD
                , COUNT(MEMBER_CD) '신규가입'
                , ISNULL(AGENCY_YN,'N') as AGENCY_YN
		         FROM	MWMEMBER.DBO.CST_MASTER AS A WITH(NOLOCK)		
				--LEFT JOIN MM_JOIN_INFO_TB AS B ON A.CUID=B.CUID 
		 WHERE --(SECTION_CD<>'S111' AND SECTION_CD<>'S112' AND SECTION_CD<>'S117' AND SECTION_CD<>'S118') AND
		    OUT_YN='N' 
		   AND (JOIN_DT>=CONVERT(VARCHAR(10), GETDATE()-1, 120)
		   AND JOIN_DT<CONVERT(VARCHAR(10), GETDATE(), 120))
		GROUP BY CONVERT(VARCHAR(10), JOIN_DT, 120), MEMBER_CD,ISNULL(AGENCY_YN,'N')
		--ORDER BY CONVERT(VARCHAR(10), JOIN_DT, 120)
	) Y

/*
	SELECT DISTINCT CONVERT(VARCHAR(10), JOIN_DT, 120) AS DT, MEMBER_CD, COUNT(MEMBER_CD) '신규가입' INTO #NEW_JOIN
	  FROM	DBO.MM_MEMBER_TB AS A WITH(NOLOCK)		
			LEFT JOIN MM_JOIN_INFO_TB AS B ON A.CUID=B.CUID 
	 WHERE (SECTION_CD<>'S111' AND SECTION_CD<>'S112' AND SECTION_CD<>'S117' AND SECTION_CD<>'S118') 
	   AND OUT_APPLY_YN='N' 
	   AND (JOIN_DT>=CONVERT(VARCHAR(10), GETDATE()-1, 120)
	   AND JOIN_DT<CONVERT(VARCHAR(10), GETDATE(), 120))
	GROUP BY CONVERT(VARCHAR(10), JOIN_DT, 120), MEMBER_CD
	ORDER BY CONVERT(VARCHAR(10), JOIN_DT, 120)
*/

/* #### 탈퇴 #### */
	SELECT CONVERT(VARCHAR(10),GETDATE()-1, 120) AS DT
       , B.MEMBER_CD, COUNT(*) AS '탈퇴' 
    INTO #OUT
	  FROM #TEMP_OUT_CUID_TG2 B
GROUP BY B.MEMBER_CD


/* #### 회원누적(휴면제외) #### */
	-- 2021-01-04 회원가입대행 AGENCY_YN 컬럼 추가
	SELECT * 
    INTO #TOTAL_MEM 
	  FROM ( SELECT CONVERT(VARCHAR(10)
		            , GETDATE()-1, 120) AS DT
			          , MEMBER_CD
			          , count(*) AS '전체회원수'
			          , ISNULL(AGENCY_YN,'N') as AGENCY_YN
		         FROM MWMEMBER.DBO.CST_MASTER AS A WITH(NOLOCK)		
		        where A.OUT_YN='N' 
		          AND A.REST_YN='N'
		          and A.JOIN_DT < CONVERT(VARCHAR(10), GETDATE()-1, 120)
	       GROUP BY A.MEMBER_CD, A.AGENCY_YN

        
/*
		UNION ALL	

		SELECT X.DT,
		CASE X.SECTION_CD WHEN 'S102' THEN '8' WHEN 'S103' THEN '9' ELSE '0' END AS MEMBER_CD
		,X.[전체회원수] FROM (
			SELECT DISTINCT C.SECTION_CD, CONVERT(VARCHAR(10), GETDATE()-1, 120) AS DT, COUNT(C.SECTION_CD) '전체회원수' 	
			FROM	DBO.MM_MEMBER_TB AS A WITH(NOLOCK)		
					LEFT JOIN MM_JOIN_INFO_TB AS B ON A.CUID=B.CUID 
					LEFT JOIN MM_COMPANY_TB AS C ON A.CUID=C.CUID
			where (B.SECTION_CD<>'S111' and B.SECTION_CD<>'S112' and B.SECTION_CD<>'S117' and B.SECTION_CD<>'S118') 
			and A.OUT_APPLY_YN='N' 
			AND A.REST_YN='N'
			and A.JOIN_DT< CONVERT(VARCHAR(10), GETDATE()-1, 120)
			AND C.SECTION_CD IN ('S102','S103')
			GROUP BY C.SECTION_CD
		) X
		
*/
	) Y
/*
	SELECT CONVERT(VARCHAR(10), GETDATE()-1, 120) AS DT, MEMBER_CD, count(*) AS '전체회원수' INTO #TOTAL_MEM
	FROM	DBO.MM_MEMBER_TB AS A WITH(NOLOCK)		
			LEFT JOIN MM_JOIN_INFO_TB AS B ON A.CUID=B.CUID 
	where (SECTION_CD<>'S111' and SECTION_CD<>'S112' and SECTION_CD<>'S117' and SECTION_CD<>'S118') 
	and OUT_APPLY_YN='N' 
	AND REST_YN='N'
	and JOIN_DT< CONVERT(VARCHAR(10), GETDATE()-1, 120)
	GROUP BY MEMBER_CD
*/

/* #### 통계테이블 추가 #### */
	DELETE FROM MM_STAT_MEMBER_TB WHERE REG_DT=(CONVERT([varchar](10),dateadd(day,(-1),getdate()),(120)))
	-- 2021-01-04 회원가입대행 컬럼 추가 및 SELECT 조건추가 'AGENCY_YN'
	INSERT INTO [MM_STAT_MEMBER_TB](
		 REG_DT
		,NEW_JOIN_COMPANY
		,NEW_AGENCY_JOIN_COMPANY	-- 회원가입대행 추가
		,NEW_JOIN_PERSON
		,OUT_COMPANY
		,OUT_PERSON
		,TOTAL_MEM_COMPANY
		,TOTAL_AGENCY_JOIN_COMPANY	-- 회원가입대행 추가
		,TOTAL_MEM_PERSON
		)
	SELECT   
   CONVERT(VARCHAR(10), GETDATE()-1, 120) AS REG_DT
	,isNULL((SELECT SUM(신규가입) FROM #NEW_JOIN WHERE MEMBER_CD=2  AND AGENCY_YN = 'N'),0) -- 회원가입대행 조건 수정
               AS NEW_JOIN_COMPANY
	,isNULL((SELECT SUM(신규가입) FROM #NEW_JOIN WHERE MEMBER_CD=2  AND AGENCY_YN = 'Y'),0) -- 회원가입대행 추가
               AS NEW_AGENCY_JOIN_COMPANY
  ,isNULL((SELECT SUM(신규가입) FROM #NEW_JOIN WHERE MEMBER_CD=1),0)
               AS NEW_JOIN_PERSON   
	,isNULL((SELECT SUM(탈퇴) FROM #OUT WHERE MEMBER_CD=2),0)
               AS OUT_COMPANY
	,isNULL((SELECT SUM(탈퇴) FROM #OUT WHERE MEMBER_CD=1),0)
               AS OUT_PERSON
  ,isNULL((SELECT SUM(전체회원수) FROM #TOTAL_MEM WHERE MEMBER_CD=2 AND AGENCY_YN = 'N' ),0)	-- 회원가입대행 조건 수정
               AS TOTAL_MEM_COMPANY
	,isNULL((SELECT SUM(전체회원수) FROM #TOTAL_MEM WHERE MEMBER_CD=2 AND AGENCY_YN = 'Y'),0) -- 회원가입대행 추가
               AS TOTAL_AGENCY_JOIN_COMPANY 
  ,isNULL((SELECT SUM(전체회원수) FROM #TOTAL_MEM WHERE MEMBER_CD=1),0)
               AS TOTAL_MEM_PERSON
	
	--,isNULL((SELECT [신규가입] FROM #NEW_JOIN WHERE MEMBER_CD=8),0),isNULL((SELECT [신규가입] FROM #NEW_JOIN WHERE MEMBER_CD=9),0)
	--,isNULL((SELECT [전체회원수] FROM #TOTAL_MEM WHERE MEMBER_CD=8),0),isNULL((SELECT [전체회원수] FROM #TOTAL_MEM WHERE MEMBER_CD=9),0)
	
	EXEC FINDDB1.[STATS].DBO.BAT_DASHBOARD_DATA_MEMBER_STAT_INS_PROC @PRE_DT

/* #### 임시테이블 삭제 #### */
	DROP TABLE #TEMP_OUT_CUID
	DROP TABLE #TEMP_OUT_CUID_TG2
	
	DROP TABLE #NEW_JOIN
	DROP TABLE #OUT
	DROP TABLE #TOTAL_MEM

END
GO
