USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[SP_MSG_SECTION]    Script Date: 2021-11-03 오후 4:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************
 *  단위 업무 명 : 마케팅/이벤트 수신동의
 *  작   성   자 : JMG
 *  작   성   일 : 2016-11-16
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 : 
exec dbo.SP_MSG_SECTION 13821488, 2
exec dbo.SP_MSG_SECTION 13822240, 2
exec dbo.SP_MSG_SECTION 13822218

exec dbo.SP_MSG_SECTION 13957850,2
 *************************************************************************************/

CREATE PROCEDURE [dbo].[SP_MSG_SECTION]
 @CUID	  int,
 @S_TYPE	  int

AS
    SET NOCOUNT ON;

    if @S_TYPE = 1 begin	   --회원가입시
    
	   SELECT CUID
	   , MAX(CASE WHEN MEDIA_CD = 'S' THEN SECTION_CD ELSE '' END )  AS 'S'
	   , MAX(CASE WHEN MEDIA_CD = 'M' THEN SECTION_CD ELSE '' END )  AS 'M'
	   , MAX(CASE WHEN MEDIA_CD = 'T' THEN SECTION_CD ELSE '' END )  AS 'T'
	   --, ('S101,H001') AS 'S'
	   --, ('S103,S104,H001') AS 'M'
	   --, ('S101,H001') AS 'T'
	   , (SELECT TOP 1 READINGFLAG FROM FINDDB1.PAPER_NEW.DBO.PP_USER_EPAPERMAIL_TB WITH (NOLOCK) WHERE CUID=CUID ORDER BY REGDATE DESC ) AS 'F'
	   --, '1' AS 'F'
	   , (SELECT TOP 1 AGREE_DT FROM CST_MSG_SECTION WITH (NOLOCK) WHERE CUID = S.CUID ORDER BY AGREE_DT DESC ) AGREE_DT
	   FROM (
		  SELECT DISTINCT T.CUID,T.MEDIA_CD,
		  STUFF(( SELECT ',' + P.SECTION_CD
		  FROM CST_MSG_SECTION P WITH(NOLOCK)
		  WHERE (P.CUID = T.CUID AND P.MEDIA_CD = T.MEDIA_CD)
		  FOR XML PATH ('')),1,1,'') AS SECTION_CD
		  , T.AGREE_DT
		  FROM CST_MSG_SECTION T WITH(NOLOCK)
		  JOIN CST_MASTER CM WITH(NOLOCK) ON CM.CUID = T.CUID
		  WHERE CM.CUID = @CUID
	   ) S 
	   GROUP BY CUID
	   
    end 
    
    if @S_TYPE = 2 begin		  --회원수정시
	   DECLARE @HISTORY_CD INT
	   SET     @HISTORY_CD = 0
    
	   CREATE TABLE #TB (HISTORY_ID INT NULL, OLD_ID INT NULL)
	   INSERT INTO #TB
	   SELECT TOP 1 HISTORY_ID, HISTORY_ID-1 AS OLD_ID
	   FROM CST_MSG_SECTION_HIST
	   WHERE CUID = @CUID
	   GROUP BY HISTORY_ID
	   ORDER BY HISTORY_ID DESC 
	   
	   SELECT TOP 1 @HISTORY_CD = ISNULL(SECTION_CD,1) 
	   FROM (
		  SELECT MH.SECTION_CD
		  FROM #TB T
		  LEFT OUTER JOIN CST_MSG_SECTION_HIST SH ON SH.HISTORY_ID = T.OLD_ID
		  LEFT OUTER JOIN CST_MSG_SECTION_HIST MH ON MH.HISTORY_ID = T.HISTORY_ID AND MH.SECTION_CD = SH.SECTION_CD AND MH.MEDIA_CD = SH.MEDIA_CD AND MH.AGREE_DT = SH.AGREE_DT
		  WHERE MH.SECTION_CD IS NULL
    	   
		  UNION ALL
    	   
		  SELECT MH.SECTION_CD
		  FROM #TB T
		  LEFT OUTER JOIN CST_MSG_SECTION_HIST SH ON SH.HISTORY_ID = T.HISTORY_ID
		  LEFT OUTER JOIN CST_MSG_SECTION_HIST MH ON MH.HISTORY_ID = T.OLD_ID AND MH.SECTION_CD = SH.SECTION_CD AND MH.MEDIA_CD = SH.MEDIA_CD AND SH.AGREE_DT = MH.AGREE_DT
		  WHERE MH.SECTION_CD IS NULL  
	   )A
	   OPTION(MAXDOP 1)
	   SELECT CUID
	   , MAX(CASE WHEN MEDIA_CD = 'S' THEN SECTION_CD ELSE '' END )  AS 'S'
	   , MAX(CASE WHEN MEDIA_CD = 'M' THEN SECTION_CD ELSE '' END )  AS 'M'
	   , MAX(CASE WHEN MEDIA_CD = 'T' THEN SECTION_CD ELSE '' END )  AS 'T'
	   --, ('S101,H001') AS 'S'
	   --, ('S103,S104,H001') AS 'M'
	   --, ('S101,H001') AS 'T'
	   , (SELECT TOP 1 READINGFLAG FROM FINDDB1.PAPER_NEW.DBO.PP_USER_EPAPERMAIL_TB WITH (NOLOCK) WHERE CUID=CUID ORDER BY REGDATE DESC ) AS 'F'
	   --, '1' AS 'F'
	   , (SELECT TOP 1 HISTORY_DT FROM CST_MSG_SECTION_HIST WITH (NOLOCK) WHERE CUID = S.CUID ORDER BY HISTORY_DT DESC ) AGREE_DT
	   , @HISTORY_CD HISTORY_CD
	   FROM (
		  SELECT DISTINCT T.CUID,T.MEDIA_CD,
		  STUFF(( SELECT ',' + P.SECTION_CD
		  FROM CST_MSG_SECTION P WITH(NOLOCK)
		  WHERE (P.CUID = T.CUID AND P.MEDIA_CD = T.MEDIA_CD)
		  FOR XML PATH ('')),1,1,'') AS SECTION_CD
		  , T.AGREE_DT
		  FROM CST_MSG_SECTION T WITH(NOLOCK)
		  JOIN CST_MASTER CM WITH(NOLOCK) ON CM.CUID = T.CUID
		  WHERE CM.CUID = @CUID
	   ) S 
	   GROUP BY CUID
	   
	   drop table #TB
    end 
    
    



GO
