USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[SP_CUSTOMER_INTEGRATION_CON]    Script Date: 2021-11-03 오후 4:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CUSTOMER_INTEGRATION_CON]
/*************************************************************************************
 *  단위 업무 명 : 승인 관리자 페이지 검색
 *  작   성   자 : J&J
 *  작   성   일 : 2016-07-25
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 : 
 *************************************************************************************/
@USER_NM VARCHAR(30),
@HPHONE varchar(14),
@USERID	varchar(50),
@M_USERID varchar(50)
AS 
	SET NOCOUNT ON;
	DECLARE @SQL nvarchar(4000)

		
		SET @SQL ='SELECT * FROM (
					SELECT [SEQ]
					,'+'''M'''+' AS M_ST
					,(SELECT SITE_CD FROM CST_MASTER M WITH(NOLOCK) WHERE A.M_CUID = M.CUID) AS  M_SITE_CD
					,(SELECT USERID FROM CST_MASTER M WITH(NOLOCK) WHERE A.M_CUID = M.CUID) AS M_USERID
					,(SELECT USER_NM FROM CST_MASTER M WITH(NOLOCK) WHERE A.M_CUID = M.CUID) AS M_USER_NM
					,(SELECT HPHONE FROM CST_MASTER M WITH(NOLOCK) WHERE A.M_CUID = M.CUID) AS M_HPHONE
					,(SELECT EMAIL FROM CST_MASTER M WITH(NOLOCK) WHERE A.M_CUID = M.CUID) AS M_EMAIL
					,(SELECT COM_NM FROM CST_COMPANY C WITH(NOLOCK) WHERE A.M_CUID = C.CUID) AS M_COM_NM
					,(SELECT REGISTER_NO FROM CST_COMPANY C WITH(NOLOCK) WHERE A.M_CUID = C.CUID) AS M_REGISTER_NO
					,'+'''S'''+' AS S_ST
					,(SELECT SITE_CD FROM CST_MASTER M WITH(NOLOCK) WHERE A.S_CUID = M.CUID) AS S_SITE_CD
					,(SELECT USERID FROM CST_MASTER M WITH(NOLOCK) WHERE A.S_CUID = M.CUID) AS S_USERID
					,(SELECT USER_NM FROM CST_MASTER M WITH(NOLOCK) WHERE A.S_CUID = M.CUID) AS S_USER_NM
					,(SELECT HPHONE FROM CST_MASTER M WITH(NOLOCK) WHERE A.S_CUID = M.CUID) AS S_HPHONE
					,(SELECT EMAIL FROM CST_MASTER M WITH(NOLOCK) WHERE A.S_CUID = M.CUID) AS S_EMAIL
					,(SELECT COM_NM FROM CST_COMPANY C WITH(NOLOCK) WHERE A.S_CUID = C.CUID) AS S_COM_NM
					,(SELECT REGISTER_NO FROM CST_COMPANY C WITH(NOLOCK) WHERE A.S_CUID = C.CUID) AS S_REGISTER_NO
					,[CONFIRM_ID]
					,[APP_DT]
					,[S_CUID] AS CUID FROM [CST_ADMISSION] A WITH(NOLOCK) ) AA '

	IF @USER_NM != ''
	BEGIN
		SET @SQL = @SQL + ' WHERE M_USER_NM LIKE ' + '''%'+@USER_NM+ '%'''+ 'OR S_USER_NM LIKE' + '''%'+@USER_NM+'%'''+ 'ORDER BY SEQ'
	END
	ELSE IF @HPHONE != ''
	BEGIN
		SET @SQL = @SQL + ' WHERE M_HPHONE LIKE ' + '''%'+@HPHONE+ '%'''+ 'OR S_HPHONE LIKE ' + '''%'+@HPHONE+'%'''+ ' ORDER BY SEQ'
	END
	ELSE IF @USERID != ''
	BEGIN
		SET @SQL = @SQL + ' WHERE M_USERID LIKE ' + '''%'+@USERID+ '%'''+ 'OR S_USERID LIKE ' + '''%'+@USERID+'%'''+ ' ORDER BY SEQ'
	END
	ELSE IF @M_USERID != ''
	BEGIN
		SET @SQL = @SQL + ' WHERE M_USERID LIKE ' + '''%'+@USERID+ '%'''+ 'OR S_USERID LIKE ' + '''%'+@USERID+'%'''+ ' ORDER BY SEQ'
	END 

	EXEC(@SQL)
GO
