USE [MWMEMBER]
GO
/****** Object:  StoredProcedure [dbo].[__DEL__SP_LOGIN_20160812]    Script Date: 2021-11-03 오후 4:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[__DEL__SP_LOGIN_20160812]
/*************************************************************************************
 *  단위 업무 명 : 로그인 및 이력
 *  작   성   자 : J&J
 *  작   성   일 : 2016-07-25
 *  수   정   자 :
 *  수   정   일 :
 *  설        명 : 
 * EXEC SP_LOGIN 'ju990728' , '03294fe0baa3519b3f389015802b6067'   -- ID , PWD
 * CUID ,USERID, USER_NM, 이메일, 회사명, 휴대폰, 회원타입(개인/기업), 성별, 연령, 휴면여부, 생년월일, 비번 변경일로부터 90일 지난여부(Y/N)
 *************************************************************************************/
@USERID varchar(50) 
,@PWD VARCHAR(30)
,@SECTION_CD CHAR(4)
AS
	SET NOCOUNT ON;
	DECLARE  @SELECT_PASSWORD VARCHAR(255) 
	,@ID_COUNT bit
	,@LOGIN_FAIL_CNT INT
	,@TRUE CHAR(1)
	,@CUID INT
	,@MD5PWD VARCHAR(100)
	,@REST_YN CHAR(1)
	,@SEQ INT
	,@SITE_CD CHAR(1)
	,@_login_pwd INT
	,@LOGIN_S INT  -- 로그인 성공 값 0 실패 1은 성공
	,@SUCCESS_YN CHAR(1)
	,@PWD_CHANGE_YN CHAR(1)
	,@PWD_NEXT_ALARM_DT DATETIME
	
	SELECT @REST_YN =  REST_YN FROM CST_MASTER WHERE USERID = @USERID
	IF @REST_YN = 'Y'
	BEGIN 
		RETURN(100)     -- 휴면 고객 확인
	END
	ELSE  
	BEGIN
		SET @ID_COUNT = 0
		SELECT @ID_COUNT = COUNT(USERID) FROM CST_MASTER WHERE USERID = @USERID AND OUT_YN='N' AND REST_YN = 'N'
	
		IF @ID_COUNT = 1
		BEGIN
			SET @MD5PWD = DBO.FN_MD5(LOWER(@PWD))
			SELECT @SELECT_PASSWORD = PWD FROM CST_MASTER WITH(NOLOCK) WHERE USERID = @USERID 
			SELECT @_login_pwd = PwdCompare(@PWD, login_pwd_enc) FROM CST_MASTER WHERE USERID = @USERID 
			IF @SELECT_PASSWORD = @MD5PWD SET @LOGIN_S = 1 ELSE IF @_login_pwd = 1 SET @LOGIN_S = 1 ELSE SET @LOGIN_S = 0
			
			IF  @LOGIN_S = 1
			BEGIN
			SELECT @TRUE = 'T'
			SELECT @PWD_NEXT_ALARM_DT = PWD_NEXT_ALARM_DT  FROM CST_MASTER WHERE USERID = @USERID 
				IF @PWD_NEXT_ALARM_DT > getdate()
				BEGIN
					SELECT @PWD_CHANGE_YN = 'N'
				END ELSE IF @PWD_NEXT_ALARM_DT <= getdate()
				BEGIN
					SELECT @PWD_CHANGE_YN = 'Y'
				END
			SELECT M.CUID, M.USERID, M.USER_NM , M.EMAIL, M.HPHONE , M.MEMBER_CD, M.GENDER, 
			M.REST_YN, M.BIRTH, C.COM_NM, M.CONFIRM_YN, M.MASTER_ID, M.STATUS_CD , @TRUE AS TRUE_YN, @PWD_CHANGE_YN AS PWD_CHANGE_YN
			FROM CST_MASTER M LEFT OUTER JOIN CST_COMPANY C ON M.COM_ID = C.COM_ID
			WHERE M.USERID = @USERID AND M.OUT_YN='N'

				IF @TRUE = 'T'
				BEGIN
				SELECT @CUID = CUID FROM CST_MASTER WHERE USERID = @USERID
				SELECT @SEQ = MAX(SEQ) + 1 FROM CST_LOGIN_LOG
					IF @SEQ IS NULL
					BEGIN
						SELECT @SEQ = 1
					END
					SELECT @SITE_CD = SITE_CD FROM CST_MASTER WHERE USERID = @USERID
				BEGIN
					UPDATE CST_MASTER SET LAST_LOGIN_DT = getdate()  WHERE USERID = @USERID AND CUID = @CUID  -- 마지막 로그인 시간 
					INSERT INTO CST_LOGIN_LOG (CUID, SEQ, USERID, LOGIN_DT, SECTION_CD, SUCCESS_YN) 
										VALUES (@CUID ,@SEQ,@USERID,getdate(),@SECTION_CD,'Y')    -- 로그인 이력 남기기
				END 
			END
		END
		ELSE
			BEGIN
			SELECT 'PWD FAIL' AS MESSAGE
			SELECT @CUID = CUID FROM CST_MASTER WHERE USERID = @USERID
			SELECT @SEQ = MAX(SEQ) + 1 FROM CST_LOGIN_LOG
		 		IF @SEQ IS NULL
				BEGIN
					SELECT @SEQ = 1
				END
			SELECT @SITE_CD = SITE_CD FROM CST_MASTER WHERE USERID = @USERID
			SELECT @SUCCESS_YN = 'N'
			INSERT INTO CST_LOGIN_LOG (CUID, SEQ, USERID, LOGIN_DT, SECTION_CD, SUCCESS_YN) VALUES
									   (@CUID ,@SEQ,@USERID,getdate(),@SECTION_CD,@SUCCESS_YN)
		 
			SELECT @LOGIN_FAIL_CNT = LOGIN_FAIL_CNT FROM CST_MASTER WHERE USERID = @USERID
				IF @LOGIN_FAIL_CNT IS NULL
				SET @LOGIN_FAIL_CNT = 0
				IF @LOGIN_FAIL_CNT >= 0
				BEGIN
					UPDATE CST_MASTER SET LOGIN_FAIL_CNT = LOGIN_FAIL_CNT + 1, LOGIN_FAIL_DT = getdate() WHERE USERID = @USERID
				END
				 /* ELSE IF @LOGIN_FAIL_CNT >= 5
					BEGIN     -- 5번 일때 어떤 액션으로 풀어 줄것인가에 대해서 룰 적용 필요
					UPDATE CST_MASTER SET LOGIN_FAIL_CNT = 1  , LOGIN_FAIL_DT = getdate() WHERE USERID = @USERID
				END 
				*/
			END
		END
		ELSE
			BEGIN 
			SELECT 'ID AND PWD FAIL'  AS MESSAGE
		END
	END
GO
