<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--TargetDataBase RealDataBas "Y"  // TEST  "N" -->
    <add key="TargetDataBase" value="Y" />
    
    <!--TargetAdd ex) 100명 단위로 타겟추가-->
    <add key="intMaxTargetAddCnt" value="100" />
    
    <!--TargetSend ex) 2000 명당 발송 -->
    <add key="intMaxTargetSendCnt" value="15000" />
    
    <add key="MailUrl" value="https://mail.findjob.co.kr" />
    <add key="User_ID" value="findjob" />
    <add key="LogDir" value="D:\MyMailer\Log\Match_Main\Send_Eamil_CustMyInfo_Job_" />
  </appSettings>
</configuration>